// Default style
::-moz-selection { 
	background: #000;
	// color: $blue;
}
::selection { 
	background: #000;
	// color: $blue;
}

*{
	@include border-box;
}

.tester{
	z-index: 999999;
	display: block;
	background-color: rgba(0,255,0, 0.3);
	position: fixed;
	
	right: 130px;

	width: 251px;
	height: 100%;
}

body{
	font-family: $main-font;
	color: $body-text-color;
	background-color: $bg-color;
}

body, h1, h2, h3, h4, h5, h6, p, section, div, nav, ul, li, button, figure, i, article{
	margin: 0;
	padding: 0;
	outline: 0;
}

ul{
	list-style-type: none;
}

#main-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
}

.page-section{
	position: relative;
	width: 100%;

	&.menu-padded{
		padding-top: $mob-header-nav-height;

		@include small-desktop {
			padding-top: $header-nav-height;
		}
	}

	&.inner-padded{
		padding-top: 80px;
		padding-bottom: 50px;

		@include tablet {
			// padding-top: 140px;
			padding-top: 100px;
			padding-bottom: 70px;
		}

		// Special style for bug revealing footer on space between sections
		@include small-laptop {margin-top: -1px;}

		@include laptop {
			padding-top: 120px;
			padding-bottom: 60px;
		}

		@include small-desktop {
			// padding-top: 180px;
			padding-top: 170px;
			padding-bottom: 90px;
		}

		@include desktop {
			// padding-top: 200px;
			padding-bottom: 100px;
		}
	}
}

.section-name{
	z-index: 1;
	position: relative;
	margin-bottom: 20px;

	@include tablet {
		margin-bottom: 60px;
	}

	@include small-desktop {
		margin-bottom: 80px;
	}

	@include desktop {
		margin-bottom: 110px;
	}
}


//Special styles for smooth scroll
	.js-fake-scroll{
		pointer-events: none;
	}

	.js-scroll{
		z-index: 2;
		pointer-events: none;
		position: relative;

		.page-section{
			pointer-events: auto;
		}
	}

	// User on footer
	.only-mobile{
		@include small-laptop {
			opacity: 0;
			pointer-events: none;

			&.not-scroll-js{height: 0;}
		}

		.landing-footer{
			@include small-laptop {
				pointer-events: none;
			}
		}
	}

