.dw-highlight{
	z-index: 1;
	position: relative;
	display: inline-block;

	&.underline{
		svg{
			position: absolute;
			bottom: -17%;
			left: 50%;
			@include translate(-50%, 0);
			width: 120%;
		}

		$underline-draw-speed: 0.15s;
		$underline-long-draw-speed: 0.19s;

		path, line{
			stroke-width: 6;
		}

		._p-top{
			stroke-dashoffset: 240;
			stroke-dasharray: 240;
		}

		._p-middle-top{
			stroke-dashoffset: 265;
			stroke-dasharray: 265;
		}

		._p-middle-bottom{
			stroke-dashoffset: 290;
			stroke-dasharray: 290;
		}

		._p-bottom{
			stroke-dashoffset: 302;
			stroke-dasharray: 302;
		}

		._scaleDownHalf{
			svg{
				@include translate-scale(-50%, 0, 1, 0.65);
			}
		}
		._scaleDown{
			svg{
				@include translate-scale(-50%, 0, 1, 0.52);
			}
		}
		._scaleDownDouble{
			svg{
				@include translate-scale(-50%, 0, 0.95, 0.5);

				@include large-mobile {
					@include translate-scale(-52%, 0, 0.95, 0.45);
				}
			}
		}

		._rotate{
			svg{
				@include translate-rotate(-50%, 0, 2deg);
			}
		}

		._rotate3{
			svg{
				@include translate-rotate(-50%, 0, 3deg);
			}
		}

		&.long{
			path, line {
				// stroke-width: 3;
				
			}
		}

		&.drawn{
			path, line {
				&:first-child{@include trans-ease-delay($underline-draw-speed, $underline-draw-speed * 0);}
				&:nth-child(2){@include trans-ease-delay($underline-draw-speed, $underline-draw-speed * 1);}
				&:nth-child(3){@include trans-ease-delay($underline-draw-speed, $underline-draw-speed * 2);}
				&:nth-child(4){@include trans-ease-delay($underline-draw-speed * 2, $underline-draw-speed * 3);}
			}

			&.long{
				path, line {
					&:first-child{@include trans-ease-delay($underline-long-draw-speed, $underline-long-draw-speed * 0);}
					&:nth-child(2){@include trans-ease-delay($underline-long-draw-speed, $underline-long-draw-speed * 1);}
					&:nth-child(3){@include trans-ease-delay($underline-long-draw-speed, $underline-long-draw-speed * 2);}
					&:nth-child(4){@include trans-ease-delay($underline-long-draw-speed * 2, $underline-long-draw-speed * 3);}
				}
			}

			&#hero-animation{
				$hero-drawing-data-cascade-delay: 6;
				path, line{
					&:first-child{@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 0) + ($cascade_interval * $hero-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(2){@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 1) + ($cascade_interval * $hero-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(3){@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 2) + ($cascade_interval * $hero-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(4){@include trans-ease-delay($underline-long-draw-speed * 2, ( ($underline-long-draw-speed * 3) + ($cascade_interval * $hero-drawing-data-cascade-delay) + $cascade_trans_duration) );}
				}
			}

			&#services-animation{
				$services-drawing-data-cascade-delay: 5;
				path, line{
					&:first-child{@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 0) + ($cascade_interval * $services-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(2){@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 1) + ($cascade_interval * $services-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(3){@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 2) + ($cascade_interval * $services-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(4){@include trans-ease-delay($underline-long-draw-speed * 2, ( ($underline-long-draw-speed * 3) + ($cascade_interval * $services-drawing-data-cascade-delay) + $cascade_trans_duration) );}
				}
			}

			&#blog-animation{
				$blog-drawing-data-cascade-delay: 2;
				path, line{
					&:first-child{@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 0) + ($cascade_interval * $blog-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(2){@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 1) + ($cascade_interval * $blog-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(3){@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 2) + ($cascade_interval * $blog-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(4){@include trans-ease-delay($underline-long-draw-speed * 2, ( ($underline-long-draw-speed * 3) + ($cascade_interval * $blog-drawing-data-cascade-delay) + $cascade_trans_duration) );}
				}
			}

			&#talks-animation{
				$talks-drawing-data-cascade-delay: 3;
				path, line{
					&:first-child{@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 0) + ($cascade_interval * $talks-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(2){@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 1) + ($cascade_interval * $talks-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(3){@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 2) + ($cascade_interval * $talks-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(4){@include trans-ease-delay($underline-long-draw-speed * 2, ( ($underline-long-draw-speed * 3) + ($cascade_interval * $talks-drawing-data-cascade-delay) + $cascade_trans_duration) );}
				}
			}

			&#help-animation{
				$services-drawing-data-cascade-delay: 6;
				path, line{
					&:first-child{@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 0) + ($cascade_interval * $services-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(2){@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 1) + ($cascade_interval * $services-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(3){@include trans-ease-delay($underline-long-draw-speed, 	( ($underline-long-draw-speed * 2) + ($cascade_interval * $services-drawing-data-cascade-delay) + $cascade_trans_duration) );}
					&:nth-child(4){@include trans-ease-delay($underline-long-draw-speed * 2, ( ($underline-long-draw-speed * 3) + ($cascade_interval * $services-drawing-data-cascade-delay) + $cascade_trans_duration) );}
				}
			}
		}
	}

	&.circle-open{
		svg{
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
			width: 120%;

			path{
				stroke-width: 3;
				stroke-dashoffset: 642;
				stroke-dasharray: 642;

				@include ani-duration(500ms);
				@include ani-ease($soft-in-out);
				@include ani-fillmode(both);
				@include ani-name("circle-open--out");
			}
		}

		&.long{
			svg{
				width: 130%;
			}
		}
		&.short{
			svg{
				width: 110%;
			}
		}

		&.bolder{
			svg path{
				stroke-width: 4;
			}
		}

		&.lighter{
			svg path{
				stroke-width: 2;
			}
		}

		&.offset{
			svg {
				@include translate(-45%, -50%);
			}
		}
	}

	&.circle-open-round{
		svg{
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-52%, -50%);
			width: 120%;

			@include tablet {
				// bottom: -35%;
			}

			path{
				stroke-width: 3;
				stroke-dashoffset: 435;
				stroke-dasharray: 435;
				
				@include ani-duration(500ms);
				@include ani-ease($soft-in-out);
				@include ani-fillmode(both);
				@include ani-name("circle-round--out");
			}
		}

		&.lighter{
			svg path{
				stroke-width: 2;
			}
		}
		&.bolder{
			svg path{
				stroke-width: 6;
			}
		}
		&.sub-bolder{
			svg path{
				stroke-width: 4;
			}
		}

		&.longer{
			svg{
				width: 130%;
			}
		}

		&.super-big{
			svg{
				width: 200%;
			}
		}
	}

	&.circle-open-long{
		svg{
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);
			width: 108%;

			path{
				stroke-width: 3;
				stroke-dashoffset: 1000;
				stroke-dasharray: 1000;
				
				@include ani-duration(500ms);
				@include ani-ease($soft-in-out);
				@include ani-fillmode(both);
				@include ani-name("circle-long--out");
			}
		}

		&.larger{
			svg{
				width: 115%;
			}
		}
		&.shorter{
			svg{
				width: 103%;
			}
		}

		&.bolder{
			svg path{
				stroke-width: 4;
			}
		}

		&.bolder5{
			svg path{
				stroke-width: 5;
			}
		}

		&.lighter{
			svg path{
				stroke-width: 2;
			}
		}

		&.offset{
			svg{
				left: 53%;
			}
		}
	}


	&.drawn{
		&.underline, &.circle-open, &.circle-open-round, &.circle-open-long{
			path, line{
				stroke-dashoffset: 0;
			}
		}
	}

	._text{
		position: relative;
		// opacity: 0;
	}
}

.cms-circle-open, .cms-circle-open-round, .cms-circle-open-long{
	&.blue path{
		stroke: $blue;
	}
	&.yellow path{
		stroke: $yellow;
	}
	&.red path{
		stroke: $red;
	}
}


///// @Keyframes //////

// Circle open keyframe animation
	// Outro
	@-webkit-keyframes circle-open--out {
		0% {stroke-dashoffset: 1284;}
		100% {stroke-dashoffset: 642; }
	}
	@-moz-keyframes circle-open--out {
		0% {stroke-dashoffset: 1284;}
		100% {stroke-dashoffset: 642; }
	}
	@-o-keyframes circle-open--out {
		0% {stroke-dashoffset: 1284;}
		100% {stroke-dashoffset: 642; }
	}
	@keyframes circle-open--out {
		0% {stroke-dashoffset: 1284;}
		100% {stroke-dashoffset: 642; }
	}

	// Intro
	@-webkit-keyframes circle-open--in {
		0% {stroke-dashoffset: 642;}
		100% {stroke-dashoffset: 0;}
	}
	@-moz-keyframes circle-open--in {
		0% {stroke-dashoffset: 642;}
		100% {stroke-dashoffset: 0;}
	}
	@-o-keyframes circle-open--in {
		0% {stroke-dashoffset: 642;}
		100% {stroke-dashoffset: 0;}
	}
	@keyframes circle-open--in {
		0% {stroke-dashoffset: 642;}
		100% {stroke-dashoffset: 0;}
	}



// Circle round keyframe animation
	// Outro
	@-webkit-keyframes circle-round--out {
		0% {stroke-dashoffset: 870;}
		100% {stroke-dashoffset: 435; }
	}
	@-moz-keyframes circle-round--out {
		0% {stroke-dashoffset: 870;}
		100% {stroke-dashoffset: 435; }
	}
	@-o-keyframes circle-round--out {
		0% {stroke-dashoffset: 870;}
		100% {stroke-dashoffset: 435; }
	}
	@keyframes circle-round--out {
		0% {stroke-dashoffset: 870;}
		100% {stroke-dashoffset: 435; }
	}

	// Intro
	@-webkit-keyframes circle-round--in {
		0% {stroke-dashoffset: 435;}
		100% {stroke-dashoffset: 0;}
	}
	@-moz-keyframes circle-round--in {
		0% {stroke-dashoffset: 435;}
		100% {stroke-dashoffset: 0;}
	}
	@-o-keyframes circle-round--in {
		0% {stroke-dashoffset: 435;}
		100% {stroke-dashoffset: 0;}
	}
	@keyframes circle-round--in {
		0% {stroke-dashoffset: 435;}
		100% {stroke-dashoffset: 0;}
	}



// Circle long keyframe animation
	// Outro
	@-webkit-keyframes circle-long--out {
		0% {stroke-dashoffset: 2000;}
		100% {stroke-dashoffset: 1000; }
	}
	@-moz-keyframes circle-long--out {
		0% {stroke-dashoffset: 2000;}
		100% {stroke-dashoffset: 1000; }
	}
	@-o-keyframes circle-long--out {
		0% {stroke-dashoffset: 2000;}
		100% {stroke-dashoffset: 1000; }
	}
	@keyframes circle-long--out {
		0% {stroke-dashoffset: 2000;}
		100% {stroke-dashoffset: 1000; }
	}

	// Intro
	@-webkit-keyframes circle-long--in {
		0% {stroke-dashoffset: 1000;}
		100% {stroke-dashoffset: 0;}
	}
	@-moz-keyframes circle-long--in {
		0% {stroke-dashoffset: 1000;}
		100% {stroke-dashoffset: 0;}
	}
	@-o-keyframes circle-long--in {
		0% {stroke-dashoffset: 1000;}
		100% {stroke-dashoffset: 0;}
	}
	@keyframes circle-long--in {
		0% {stroke-dashoffset: 1000;}
		100% {stroke-dashoffset: 0;}
	}




