.dw-highlight{
	position: relative;
	display: inline-block;

	&.underline{
		svg{
			position: absolute;
			bottom: -17%;
			left: 50%;
			@include translate(-50%, 0);
			width: 120%;
		}

		$underline-draw-speed: 0.15s;
		$underline-long-draw-speed: 0.19s;

		path, line{
			stroke-width: 6;

			&:first-child{@include trans-ease-delay($underline-draw-speed, $underline-draw-speed * 0);}
			&:nth-child(2){@include trans-ease-delay($underline-draw-speed, $underline-draw-speed * 1);}
			&:nth-child(3){@include trans-ease-delay($underline-draw-speed, $underline-draw-speed * 2);}
			&:nth-child(4){@include trans-ease-delay($underline-draw-speed * 2, $underline-draw-speed * 3);}
		}

		._p-top{
			stroke-dashoffset: 240;
			stroke-dasharray: 240;
		}

		._p-middle-top{
			stroke-dashoffset: 265;
			stroke-dasharray: 265;
		}

		._p-middle-bottom{
			stroke-dashoffset: 290;
			stroke-dasharray: 290;
		}

		._p-bottom{
			stroke-dashoffset: 302;
			stroke-dasharray: 302;
		}

		._text{
			position: relative;
			// opacity: 0;
		}

		._scaleDown{
			svg{
				@include translate-scale(-50%, 0, 1, 0.52);
			}
		}

		._rotate{
			svg{
				@include translate-rotate(-50%, 0, 2deg);
			}
		}

		&.long{
			path, line {
				// stroke-width: 3;
				&:first-child{@include trans-ease-delay($underline-long-draw-speed, $underline-long-draw-speed * 0);}
				&:nth-child(2){@include trans-ease-delay($underline-long-draw-speed, $underline-long-draw-speed * 1);}
				&:nth-child(3){@include trans-ease-delay($underline-long-draw-speed, $underline-long-draw-speed * 2);}
				&:nth-child(4){@include trans-ease-delay($underline-long-draw-speed * 2, $underline-long-draw-speed * 3);}
			}
		}
	}

	&.circle-close{}

	&.circle-open{}


	&.drawn{
		&.underline{
			path, line{
				stroke-dashoffset: 0;
			}
		}
	}
}