@font-face {
	font-family: "FreightNeo";
	src: url("../fonts/FreightNeo_Medium.woff2") format("woff2"), /* chrome、firefox */
		url("../fonts/FreightNeo_Medium.woff") format("woff"), /* chrome、firefox */
		url("../fonts/FreightNeo_Medium.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "FreightNeo B";
	src: url("../fonts/FreightNeo_Book.woff2") format("woff2"), /* chrome、firefox */
		url("../fonts/FreightNeo_Book.woff") format("woff"), /* chrome、firefox */
		url("../fonts/FreightNeo_Book.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	font-weight: normal;
    font-style: normal;
}


$main-font: "FreightNeo", sans-serif;
$secondary-font: "FreightNeo B", sans-serif;


.h1{
	font-family: $secondary-font;
	font-size: 40px;
	// line-height: 0.83em;
	line-height: 1em;
	font-weight: lighter;
	@include smoothFont;
	text-transform: uppercase;

	@include tablet {
		font-size: 80px;
	}

	@include laptop {
		font-size: 90px;
	}

	@include small-desktop {
		font-size: 120px;
	}
}

.h2{
	font-family: $secondary-font;
	font-size: 30px;
	// line-height: .94em;
	line-height: 1.1em;
	font-weight: lighter;
	@include smoothFont;

	@include tablet {
		font-size: 42px;
	}

	@include laptop {
		font-size: 48px;
	}

	@include small-desktop {
		font-size: 60px;
	}
}

.h3{
	font-family: $secondary-font;
	font-size: 26px;
	// line-height: .94em;
	line-height: 1.1em;
	font-weight: lighter;
	@include smoothFont;

	@include tablet {
		font-size: 36px;
	}

	@include laptop {
		font-size: 40px;
	}

	@include small-desktop {
		font-size: 48px;
	}
}

.h4{
	font-family: $main-font;
	font-size: 18px;
	font-weight: lighter;
	@include smoothFont;

	@include tablet {
		font-size: 24px;
	}

	@include laptop {
		font-size: 28px;
	}

	@include small-desktop {
		font-size: 32px;
	}
}

.p1{
	font-family: $main-font;
	font-size: 18px;
	line-height: 1.4em;
	@include smoothFont;

	@include tablet {
		font-size: 22px;
	}

	@include laptop {
		font-size: 24px;
	}

	@include small-desktop {
		font-size: 28px;
	}
}

.p2{
	font-family: $main-font;
	font-size: 16px;
	line-height: 1.4em;
	@include smoothFont;
	font-weight: 400;

	@include tablet {
		font-size: 18px;
	}

	@include laptop {
		font-size: 20px;
	}

	@include small-desktop {
		font-size: 24px;
	}
}

.p3{
	font-family: $main-font;
	font-size: 12px;
	line-height: 1.4em;
	@include smoothFont;

	@include tablet {
		font-size: 16px;
	}

	@include small-desktop {
		font-size: 18px;
	}
}




