// Colors
	$bg-color: #262627;
	$dark-bg-color: #161618;

	$body-text-color: #f7f7f7;
	$blue: #55c4f0;
	$yellow: #f6eb30;
	$red: #e93f3b;



// Header nav
	$mob-header-nav-height: 50px;
	$header-nav-height: 100px;