section#blog-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1 
				span.motion-cascade(data-cascade="rotate-up") v. Nuestro Blog

			.title-wrap.ls-col-20.offset-2
				h1.h1.motion-cascade
					//- span._line 
						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Nuestro 


						span#blog-animation.dw-highlight.underline
							span._text.cascade-mask.inline-block 
								span(data-cascade="mask-up" data-cascade-delay="2" data-cascade-delay-mobile="2") blog

							span._rotate3
								+hl-underline("#55c4f0")

					span._line 
						span#blog-animation.dw-highlight.underline.long
							span._text.cascade-mask.inline-block 
								span(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Artículos

							span._scaleDownDouble
								+hl-underline("#55c4f0")

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="1" data-cascade-delay-mobile="1")  destacados 


					span._line 

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="2" data-cascade-delay-mobile="2") de 

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="3" data-cascade-delay-mobile="3") nuestro 

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="4" data-cascade-delay-mobile="4") equipo 



		.blog-list-container