mixin title-indexed(index, name, width, offset)
	div(class="title-indexed #{width} #{offset}")
		h2.h1.name-wrap
			span._index.h4 #{index}
			|!{name}



section#clients-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1 iv. People who decided to trust us


			+title-indexed(
				"a.",
				"Brands",
				"ls-col-20 ls-col-xl-20",
				"offset-2 offset-xl-2"
			)

			.projects-grid.ls-col-24
				.ls-row
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")

				.ls-row
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")



			+title-indexed(
				"b.",
				"Digital Projects",
				"ls-col-20 ls-col-xs-18 ls-col-xl-18",
				"offset-2 offset-xs-5 offset-sm-4 offset-lg-5 offset-xl-5"
			)

			.projects-grid.ls-col-24
				.ls-row
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")

				.ls-row
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")

			+title-indexed(
				"c.",
				"Collaboration <br> & Consulting",
				"ls-col-22 ls-col-xs-15 ls-col-sm-19 ls-col-lg-15 ls-col-xl-15",
				"offset-2 offset-xs-8 offset-sm-5 offset-lg-8 offset-xl-8"
			)

			.projects-grid.ls-col-24
				.ls-row
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")

				.ls-row
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2
						+webgl-logo("#f7f7f7")
