mixin title-indexed(index, name, width, offset)
	div(class="title-indexed #{width} #{offset}")
		h2.h1.name-wrap
			span._index.h4 #{index}
			|!{name}



section#clients-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.h4.section-name.ls-col-22.offset-1 iv. People who decided to trust us


			+title-indexed("a.", "Branding", "ls-col-21", "offset-2")

			.projects-grid.ls-col-24
				.ls-row
					.logo-cell.ls-col-3.offset-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")

				.ls-row
					.logo-cell.ls-col-3.offset-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")



			+title-indexed("b.", "Digital Projects", "ls-col-18", "offset-5")

			.projects-grid.ls-col-24
				.ls-row
					.logo-cell.ls-col-3.offset-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")

				.ls-row
					.logo-cell.ls-col-3.offset-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")

			+title-indexed("c.", "Collaboration & Consulting", "ls-col-15", "offset-8")

			.projects-grid.ls-col-24
				.ls-row
					.logo-cell.ls-col-3.offset-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")

				.ls-row
					.logo-cell.ls-col-3.offset-3
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
					.logo-cell.ls-col-3.offset-2
						+webgl-logo("#f7f7f7")
