mixin title-indexed(index, name, width, offset)
	div(class="title-indexed #{width} #{offset} motion-cascade")
		h2.h1.name-wrap
			span._index.h4(data-cascade="rotate-up" data-cascade-delay="1" data-cascade-delay-mobile="1") #{index}
			
			|!{name}



section#proyectos.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1.motion-cascade
				span.cascade-mask.inline-block 
					span(data-cascade="mask-up") iv. Proyectos y Participaciones


			//- +title-indexed(
			//- 	"a.",

			//- 	"<span class='cascade-mask inline-block'> <span data-cascade='mask-up' data-cascade-delay='0' data-cascade-delay-mobile='0'> Brands </span> </span>",

			//- 	"ls-col-20 ls-col-xl-20",
			//- 	"offset-2 offset-xl-2"
			//- )
		
		.ls-row
			.projects-grid.ls-col-24.motion-cascade
				.ls-row
					.logo-cell.order-1.ls-col-9.offset-2.order-xs-1.ls-col-xs-4.ls-col-sm-4.offset-sm-1(data-cascade='slide-up' data-cascade-delay='1' data-cascade-delay-mobile='1')
						img(src="img/projects/ford-logo.png", alt="Ford logo")

					.logo-cell.small.ccc.order-2.ls-col-9.offset-2.order-xs-2.ls-col-xs-4.offset-xs-1.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='2' data-cascade-delay-mobile='2')
						img(src="img/projects/ccc-logo.png", alt="Center for Certification in Creativity logo")

					.logo-cell.mid.order-13.ls-col-9.offset-2.order-xs-3.ls-col-xs-4.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='3' data-cascade-delay-mobile='7')
						img(src="img/projects/startupweek-logo.png", alt="Startupweek logo")

					.logo-cell.usaid.order-3.ls-col-9.offset-2.order-xs-4.ls-col-xs-4.offset-xs-1.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='4' data-cascade-delay-mobile='2')
						img(src="img/projects/usaid-logo.png", alt="United States Agency International Development logo")

							

					//- .ls-row
					.logo-cell.order-4.ls-col-9.offset-2.order-xs-5.ls-col-xs-4.ls-col-sm-4.offset-sm-1(data-cascade='slide-up' data-cascade-delay='2' data-cascade-delay-mobile='3')
						img(src="img/projects/startup-barrio-logo.png", alt="Startup Barrio logo")

					.logo-cell.order-5.ls-col-9.offset-2.order-xs-6.ls-col-xs-4.offset-xs-1.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='3' data-cascade-delay-mobile='3')
						img(src="img/projects/uma-logo.png", alt="Universidad del Medio Ambiente logo")

					.logo-cell.small.order-14.ls-col-9.offset-2.order-xs-7.ls-col-xs-4.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='4' data-cascade-delay-mobile='8')
						img(src="img/projects/wimt-logo.png", alt="Where Is My Transport logo")

					.logo-cell.mexico-sos.order-6.ls-col-9.offset-2.order-xs-8.ls-col-xs-4.offset-xs-1.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='5' data-cascade-delay-mobile='4')
						img(src="img/projects/mexico-sos-logo.png", alt="México SOS logo")

							

					//- .ls-row
					.logo-cell.order-7.ls-col-9.offset-2.order-xs-9.ls-col-xs-4.ls-col-sm-4.offset-sm-1(data-cascade='slide-up' data-cascade-delay='3' data-cascade-delay-mobile='4')
						img(src="img/projects/spoiler-logo.png", alt="spoiler time logo")

					.logo-cell.order-8.ls-col-9.offset-2.order-xs-10.ls-col-xs-4.offset-xs-1.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='4' data-cascade-delay-mobile='5')
						img(src="img/projects/iri-logo.png", alt="International Republican Institute logo")

					.logo-cell.small.order-15.ls-col-9.offset-2.order-xs-11.ls-col-xs-4.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='5' data-cascade-delay-mobile='8')
						img(src="img/projects/justicia-logo.png", alt="Justicia Ahora logo")

					.logo-cell.order-9.ls-col-9.offset-2.order-xs-12.ls-col-xs-4.offset-xs-1.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='6' data-cascade-delay-mobile='5')
						img(src="img/projects/mexico-evalua-logo.png", alt="México Evalúa logo")



					//- .ls-row
					.logo-cell.order-10.ls-col-9.offset-2.order-xs-13.ls-col-xs-4.ls-col-sm-4.offset-sm-1(data-cascade='slide-up' data-cascade-delay='4' data-cascade-delay-mobile='6')
						img(src="img/projects/ruths-logo.png", alt="Ruth's Chris Steak House logo")

					.logo-cell.order-11.ls-col-9.offset-2.order-xs-14.ls-col-xs-4.offset-xs-1.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='5' data-cascade-delay-mobile='6')
						img(src="img/projects/theroom-logo.png", alt="The Room logo")

					.logo-cell.small.order-16.ls-col-9.offset-2.order-xs-15.ls-col-xs-4.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='6' data-cascade-delay-mobile='9')
						img(src="img/projects/marcap-logo.png", alt="MARCAP logo")

					.logo-cell.jtc.order-12.ls-col-9.offset-2.order-xs-16.ls-col-xs-4.offset-xs-1.ls-col-sm-4.offset-sm-2(data-cascade='slide-up' data-cascade-delay='7' data-cascade-delay-mobile='7')
						img(src="img/projects/jtc-logo.png", alt="JTC logo")




			//- +title-indexed(
			//- 	"b.",

			//- 	"<span class='cascade-mask inline-block'> <span data-cascade='mask-up' data-cascade-delay='0' data-cascade-delay-mobile='0'> Digital </span> </span> <span class='cascade-mask inline-block'> <span data-cascade='mask-up' data-cascade-delay='1' data-cascade-delay-mobile='1'> Projects </span> </span>",

			//- 	"ls-col-20 ls-col-xs-18 ls-col-xl-18",
			//- 	"offset-2 offset-xs-5 offset-sm-4 offset-lg-5 offset-xl-5"
			//- )

			//- .projects-grid.ls-col-24.motion-cascade
			//- 	.ls-row
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-3(data-cascade='slide-up' data-cascade-delay='1' data-cascade-delay-mobile='1')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='2' data-cascade-delay-mobile='2')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='3' data-cascade-delay-mobile='3')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='4' data-cascade-delay-mobile='4')
			//- 			+webgl-logo("#f7f7f7")

			//- 	.ls-row
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-3(data-cascade='slide-up' data-cascade-delay='2' data-cascade-delay-mobile='5')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='3' data-cascade-delay-mobile='6')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='4' data-cascade-delay-mobile='7')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='5' data-cascade-delay-mobile='8')
			//- 			+webgl-logo("#f7f7f7")

			//- +title-indexed(
			//- 	"c.",

			//- 	"<span class='cascade-mask inline-block'> <span data-cascade='mask-up' data-cascade-delay='0' data-cascade-delay-mobile='0'> Collaboration </span>  </span> <br> <span class='cascade-mask inline-block'> <span data-cascade='mask-up' data-cascade-delay='1' data-cascade-delay-mobile='1'> & </span>  </span> <span class='cascade-mask inline-block'> <span data-cascade='mask-up' data-cascade-delay='2' data-cascade-delay-mobile='2'> Consulting </span> </span>",

			//- 	"ls-col-22 ls-col-xs-15 ls-col-sm-19 ls-col-lg-15 ls-col-xl-15",
			//- 	"offset-2 offset-xs-8 offset-sm-5 offset-lg-8 offset-xl-8"
			//- )

			//- .projects-grid.ls-col-24.motion-cascade
			//- 	.ls-row
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-3(data-cascade='slide-up' data-cascade-delay='1' data-cascade-delay-mobile='1')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='2' data-cascade-delay-mobile='2')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='3' data-cascade-delay-mobile='3')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='4' data-cascade-delay-mobile='4')
			//- 			+webgl-logo("#f7f7f7")

			//- 	.ls-row
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-3(data-cascade='slide-up' data-cascade-delay='2' data-cascade-delay-mobile='5')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='3' data-cascade-delay-mobile='6')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='4' data-cascade-delay-mobile='7')
			//- 			+webgl-logo("#f7f7f7")
			//- 		.logo-cell.ls-col-9.offset-2.ls-col-xs-4.offset-xs-1.ls-col-sm-3.offset-sm-2(data-cascade='slide-up' data-cascade-delay='5' data-cascade-delay-mobile='8')
			//- 			+webgl-logo("#f7f7f7")
