section#contact-section.page-section.inner-padded
	.ls-container.motion-cascade
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1
				span(data-cascade="rotate-up") vi. Contacto

			.title-wrap.ls-col-22.offset-1.ls-col-xs-18.offset-xs-2.ls-col-xxl-17.offset-lg-2
				h1.h1
					span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") ¿Tienes 

					span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="1" data-cascade-delay-mobile="1") un 


					span#help-animation.dw-highlight.underline.long
						span._text.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="2" data-cascade-delay-mobile="2") reto 

						span._rotate
							+hl-underline("#e93f3b")


					span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="3" data-cascade-delay-mobile="3") y 

					span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="4" data-cascade-delay-mobile="4") requieres 

					span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="5" data-cascade-delay-mobile="5") una

					span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="6" data-cascade-delay-mobile="6") estrategia? 

					span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="7" data-cascade-delay-mobile="7") escríbenos.

					//- span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="8" data-cascade-delay-mobile="8") can 

					//- span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="9" data-cascade-delay-mobile="9") do 

					//- span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="10" data-cascade-delay-mobile="10") for 

					//- span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="11" data-cascade-delay-mobile="11") you.


		.ls-row
			.cta-wrap.ls-col-22.offset-1.ls-col-xs-20.offset-xs-2.ls-col-lg-20.offset-lg-2
				figure._arrow
					i._body(data-cascade="contact-arrow-body" data-cascade-delay-mobile="28" data-cascade-delay="28")
					i._chevron(data-cascade="contact-arrow-chevron" data-cascade-delay-mobile="28" data-cascade-delay="28")
						+chevron-down("#f7f7f7")
						+chevron-right("#f7f7f7")


				a(href="mailto:hola@lifestrategics.com" target="_blank" rel="nofollow noopener noreferrer")._mail-btn.h2
					span#hello-animation.dw-highlight.circle-open-round.lifted-short
						span._text.cascade-mask.inline-block
							span(data-cascade="mask-up" data-cascade-delay="31" data-cascade-delay-mobile="31") hola

						+hl-circle-open-round("#e93f3b")


					span.cascade-mask.inline-block
						span(data-cascade="mask-up" data-cascade-delay="32" data-cascade-delay-mobile="32") @lifestrategics.com








