section#contact-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1 vi. Reach us

			.title-wrap.ls-col-22.offset-1.ls-col-xs-18.offset-xs-2.ls-col-xxl-17.offset-lg-2
				h1.h1
					| Need specialized 
					span#help-animation.dw-highlight.underline.drawn.long
						span._text help? 
						span._rotate
							+hl-underline("#e93f3b")

					|  Let us know what we can do for you.


		.ls-row
			.cta-wrap.ls-col-22.offset-1.ls-col-xs-20.offset-xs-2.ls-col-lg-20.offset-lg-2
				figure._arrow
					i._body
					i._chevron
						+chevron-down("#f7f7f7")
						+chevron-right("#f7f7f7")


				a(href="mailto:hello@lifestrategics.com" target="_blank" rel="nofollow noopener noreferrer")._mail-btn.h2
					span#hello-animation.dw-highlight.circle-open
						span._text hello
						+hl-circle-open("#e93f3b")
					| @lifestrategics.com

