#footer
	.ls-container
		.ls-row
			.info-col.ls-col-6.offset-1
				p.p2 In LifeStrategics, we facilitate strategic creativity & tools for effective and sustainable communication.

				._copyright
					img(src="img/lifestrategics_iso_opt.png" alt="LifeStrategics brand isotype")
					p.p3 Copyright © LifeStrategics 2020

			.nav-col.understand.ls-col-3.offset-4
				h4.p2._title Sitemap
				ul
					li
						button.arrow-button.semihidden-arrow
							span._label.p3 Landing
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						button.arrow-button.semihidden-arrow
							span._label.p3 i. Our focus
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						button.arrow-button.semihidden-arrow
							span._label.p3 ii. How we do it
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						button.arrow-button.semihidden-arrow
							span._label.p3 iii. Services
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						button.arrow-button.semihidden-arrow
							span._label.p3 iv. Clients
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						button.arrow-button.semihidden-arrow
							span._label.p3 v. Events
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						button.arrow-button.semihidden-arrow
							span._label.p3 vi. Contact
							span._icon.sm.up
								+arrow-up("#ffffff")


			.nav-col.decide.ls-col-3.offset-2
				h4.p2._title Learn more
				ul
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow
							span._label.p3 Medium
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow
							span._label.p3 Spotify
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow
							span._label.p3 Apple Podcasts
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow
							span._label.p3 Credits
							span._icon.sm.right
								+arrow-right("#ffffff")


			.nav-col.takeaction.ls-col-3.offset-1
				h4.p2._title Follow us
				ul
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow
							span._label.p3 Instagram
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow
							span._label.p3 Twitter
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow
							span._label.p3 LinkedIn
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow
							span._label.p3 Facebook
							span._icon.sm.right
								+arrow-right("#ffffff")






