#footer
	.ls-container
		.ls-row
			.nav-col.understand.ls-col-3.offset-2
				h4.h4._title Sitemap
				ul
					li
						button.arrow-button.hidden-arrow
							span._label.p2 Landing
							span._icon.up
								+arrow-up("#f6eb30")
					li
						button.arrow-button.hidden-arrow
							span._label.p2 i. Our focus
							span._icon.up
								+arrow-up("#f6eb30")
					li
						button.arrow-button.hidden-arrow
							span._label.p2 ii. How we do it
							span._icon.up
								+arrow-up("#f6eb30")
					li
						button.arrow-button.hidden-arrow
							span._label.p2 iii. Services
							span._icon.up
								+arrow-up("#f6eb30")
					li
						button.arrow-button.hidden-arrow
							span._label.p2 iv. Clients
							span._icon.up
								+arrow-up("#f6eb30")
					li
						button.arrow-button.hidden-arrow
							span._label.p2 v. Events
							span._icon.up
								+arrow-up("#f6eb30")
					li
						button.arrow-button.hidden-arrow
							span._label.p2 vi. Contact
							span._icon.up
								+arrow-up("#f6eb30")


			.nav-col.decide.ls-col-3.offset-8
				h4.h4._title Learn more
				ul
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.hidden-arrow
							span._label.p2 Medium
							span._icon.right
								+arrow-right("#55c4f0")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.hidden-arrow
							span._label.p2 Spotify
							span._icon.right
								+arrow-right("#55c4f0")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.hidden-arrow
							span._label.p2 Apple Podcasts
							span._icon.right
								+arrow-right("#55c4f0")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.hidden-arrow
							span._label.p2 Credits
							span._icon.right
								+arrow-right("#55c4f0")


			.nav-col.takeaction.ls-col-3.offset-3
				h4.h4._title Follow us
				ul
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.hidden-arrow
							span._label.p2 Instagram
							span._icon.right
								+arrow-right("#e93f3b")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.hidden-arrow
							span._label.p2 Twitter
							span._icon.right
								+arrow-right("#e93f3b")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.hidden-arrow
							span._label.p2 LinkedIn
							span._icon.right
								+arrow-right("#e93f3b")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.hidden-arrow
							span._label.p2 Facebook
							span._icon.right
								+arrow-right("#e93f3b")




		.ls-row
			.copyright.ls-col-20.offset-2
				p.p2 Copyright © LifeStrategics 2020



