.landing-footer
	.ls-container
		.ls-row
			.info-col.ls-col-11.offset-1.ls-col-md-6.offset-md-1
				p.p2 En LifeStrategics, facilitamos creatividad estratégica, herramientas y procesos al servicio de proyectos y negocios.

				._copyright
					img(src="img/lifestrategics_iso_opt.png" alt="LifeStrategics brand isotype")
					p.p3 Copyright © LifeStrategics 2020

			.nav-col.understand.ls-col-9.offset-2.ls-col-xs-6.offset-xs-4.offset-md-2.ls-col-md-4.ls-col-xl-4.offset-xl-3
				h4.p2._title Mapa del sitio
				ul
					li
						a(href="hero-section").scroll-to-js.arrow-button.semihidden-arrow.slogan-highlight-yellow
							span._label.p3 Inicio
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						a(href="ourfocus-section").scroll-to-js.arrow-button.semihidden-arrow.slogan-highlight-yellow
							span._label.p3 i. Nuestro enfoque
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						a(href="services-section").scroll-to-js.arrow-button.semihidden-arrow.slogan-highlight-yellow
							span._label.p3 ii. Lo que te ofrecemos
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						a(href="how-section").scroll-to-js.arrow-button.semihidden-arrow.slogan-highlight-yellow
							span._label.p3 iii. Cómo lo hacemos
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						a(href="clients-section").scroll-to-js.arrow-button.semihidden-arrow.slogan-highlight-yellow
							span._label.p3 iv. Proyectos y Participaciones
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						a(href="events-section").scroll-to-js.arrow-button.semihidden-arrow.slogan-highlight-yellow
							span._label.p3 v. Nuestro Blog
							span._icon.sm.up
								+arrow-up("#ffffff")
					li
						a(href="contact-section").scroll-to-js.arrow-button.semihidden-arrow.slogan-highlight-yellow
							span._label.p3 vi. Contacto
							span._icon.sm.up
								+arrow-up("#ffffff")


			.nav-col.decide.ls-col-11.offset-1.ls-col-xs-6.ls-col-md-4.ls-col-xl-3.offset-xl-1
				h4.p2._title Más sobre nosotros
				ul
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow.slogan-highlight-blue
							span._label.p3 Medium
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow.slogan-highlight-blue
							span._label.p3 Spotify
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow.slogan-highlight-blue
							span._label.p3 Apple Podcasts
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow.slogan-highlight-blue
							span._label.p3 Créditos
							span._icon.sm.right
								+arrow-right("#ffffff")


			.nav-col.takeaction.ls-col-9.offset-2.ls-col-xs-6.offset-xs-9.offset-md-1.ls-col-md-4.ls-col-xl-3.offset-xl-1
				h4.p2._title Síguenos
				ul
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow.slogan-highlight-red
							span._label.p3 Instagram
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow.slogan-highlight-red
							span._label.p3 Twitter
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow.slogan-highlight-red
							span._label.p3 LinkedIn
							span._icon.sm.right
								+arrow-right("#ffffff")
					li
						a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button.semihidden-arrow.slogan-highlight-red
							span._label.p3 Facebook
							span._icon.sm.right
								+arrow-right("#ffffff")






