nav#header-nav
	.inner-wrap
		.logo-wrap
			a(href="#")
				img(src="img/lifestrategics_logo.png", alt="LifeStrategics logo")

		.slogan-wrap
			p.p2 
				span._blue understand
				span._dot ·
				span._yellow decide
				span._dot ·
				span._red take action

		ul.pages-wrap
			li
				a.p2(href="#") Blog.
			
			li
				a.p2(href="#") Upcoming Events.