mixin header-nav(location)
	nav#header-nav
		.inner-wrap
			.logo-wrap(data-cascade="slide-down" data-cascade-delay="3" data-cascade-delay-mobile="0")
				a(href="/")
					img(src="img/lifestrategics_logo.png", alt="LifeStrategics logo")

			#highlighting-slogan.slogan-wrap(data-cascade="slide-down" data-cascade-delay="0" data-cascade-delay-mobile="0")
				p.p2 
					span._blue#blue-slogan understand
					span._dot ·
					span._yellow#yellow-slogan decide
					span._dot ·
					span._red#red-slogan take action

			ul.pages-wrap
				li(data-cascade="slide-down" data-cascade-delay="3" data-cascade-delay-mobile="3")
					a.arrow-button.hidden-arrow(href="https://lifestrategics.com/blog/")
						span._label Blog.
						span._icon.right
							+arrow-right("#55c4f0")
				
				li(data-cascade="slide-down" data-cascade-delay="4" data-cascade-delay-mobile="4")
					if (location == 'home')
						a.arrow-button.hidden-arrow(href="eventos.html") 
							span._label Eventos.
							span._icon.right
								+arrow-right("#f6eb30")

					else if (location == 'events')
						a.arrow-button.hidden-arrow(href="events-section").scroll-to-js.mob-menu-page-scroll
							span._label Eventos.
							span._icon.right
								+arrow-right("#f6eb30")


			#mobile-menu-trigger.mobile-menu-trigger(data-cascade="slide-down" data-cascade-delay="0" data-cascade-delay-mobile="0")
				button.burger-btn
					span._line
					span._line