section#hero-section.page-section.menu-padded.preload-hide
	.ls-container
		.ls-row
			.title-wrap.ls-col-24
				h1.h1 
					span._line 
						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Take 

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="1" data-cascade-delay-mobile="1") the 

						span#lead-animation.dw-highlight.underline
							span._text.cascade-mask.inline-block 
								span(data-cascade="mask-up" data-cascade-delay="2" data-cascade-delay-mobile="2") lead

							+hl-underline("#e93f3b")


					span._line 
						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="3" data-cascade-delay-mobile="3") of 

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="4" data-cascade-delay-mobile="4") your 

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="5" data-cascade-delay-mobile="5") business


					span._line
						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="6" data-cascade-delay-mobile="6") and 

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="7" data-cascade-delay-mobile="7") your 

						span.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="8" data-cascade-delay-mobile="8") life



			.bottom-wrap.ls-col-xs-22.offset-xs-1.offset-lg-2.ls-col-lg-20.ls-col-xxl-18.offset-xxl-3
				.inner-wrap.ls-row
					.intro-wrap.ls-col-22.offset-1.ls-col-xs-14.offset-xs-0.ls-col-xxl-12.offset-xxl-0
						p.p1(data-cascade="slide-up" data-cascade-delay="30" data-cascade-delay-mobile="30")
							|There is no shortcut to achieve what you want, simply you had to put in the work: 
							span._underlined._blue understand
							|  yourself and your environment to know your assets and opportunities, 
							span._underlined._yellow decide
							|  what is the best strategy and 
							span._underlined._red take action
							|, relentlessly.

					.cta.ls-col-xs-8.ls-col-lg-6.ls-col-xxl-8(data-cascade="slide-up" data-cascade-delay="32" data-cascade-delay-mobile="32")
						a.arrow-button.--big.scroll-to-js(href="ourfocus-section")
							span._label Get to know us.
							span._icon.down
								+arrow-down("#55c4f0")