section#inicio.page-section.menu-padded.preload-hide
	.ls-container
		.ls-row
			.title-wrap.offset-2.ls-col-20.offset-xs-3.ls-col-xs-18.offset-sm-1.ls-col-sm-22.offset-md-2.ls-col-md-20
				h1.h1 
					//- span._line 
					span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="5" data-cascade-delay-mobile="5") Para 

					span.cascade-mask.inline-block
						span(data-cascade="mask-up" data-cascade-delay="6" data-cascade-delay-mobile="6") todo 

					span.cascade-mask.inline-block
						span(data-cascade="mask-up" data-cascade-delay="7" data-cascade-delay-mobile="7") reto 

							


					//- span._line
					span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="8" data-cascade-delay-mobile="8") hay 

					span.cascade-mask.inline-block 
						span(data-cascade="mask-up" data-cascade-delay="9" data-cascade-delay-mobile="9") una 


					//- span._line
					span#hero-animation.dw-highlight.underline.long
						span._text.cascade-mask.inline-block 
							span(data-cascade="mask-up" data-cascade-delay="10" data-cascade-delay-mobile="10") estrategia

						span._scaleDownDouble
							+hl-underline("#e93f3b")




			.bottom-wrap.ls-col-xs-22.offset-xs-1.offset-lg-2.ls-col-lg-20.ls-col-xxl-18.offset-xxl-3
				.inner-wrap.ls-row
					.intro-wrap.ls-col-22.offset-1.ls-col-xs-14.offset-xs-0.ls-col-sm-13.ls-col-lg-12.ls-col-xxl-8.offset-xxl-0
						p.p1(data-cascade="slide-up" data-cascade-delay="30" data-cascade-delay-mobile="30")
							|La mejor estrategia es la que responde a las necesidades de tu proyecto o negocio. Nos interesa conocer lo que deseas lograr para diseñar contigo la solución a la medida de tus objetivos.
							//- span._underlined._blue understand
							//- |  yourself and your environment to know your assets and opportunities, 
							//- span._underlined._yellow decide
							//- |  what is the best strategy and 
							//- span._underlined._red take action
							//- |, relentlessly.

					.cta.ls-col-xs-8.ls-col-lg-6.ls-col-xxl-8(data-cascade="slide-up" data-cascade-delay="32" data-cascade-delay-mobile="32")
						a.arrow-button.--big.scroll-to-js(href="enfoque")
							span._label Descubre más.
							span._icon.down
								+arrow-down("#55c4f0")