section#hero-section.page-section.menu-padded
	.desktop-grid
		.title-wrap.col-lg-20.offset-lg-2
			h1.h1 
				span._line Take the 
					span.highlight lead 
				span._line of your business 
				span._line and your life.

		.bottom-wrap.col-lg-18.offset-lg-3
			.inner-wrap
				.intro-wrap
					p.p1 
						|There is no shortcut to achieve what you want, simply you had to put in the work: 
						span._blue understand 
						|yourself and your environment to know your assets and opportunities, 
						span._yellow decide 
						|what is the best strategy and 
						span._red take action, 
						|relentlessly.

				.cta
					button.arrow-button(href="#")
						span._label Get to know us.
						span._icon.down
							+arrow-down("#55c4f0")