section#hero-section.page-section.menu-padded
	.ls-container
		.ls-row
			.title-wrap.ls-col-20.offset-lg-2
				h1.h1 
					span._line Take the 
						span.highlight lead 
					span._line of your business 
					span._line and your life.

			.bottom-wrap.ls-col-18.offset-lg-3
				.inner-wrap.ls-row
					.intro-wrap.ls-col-12
						p.p1 
							|There is no shortcut to achieve what you want, simply you had to put in the work: 
							span._underlined._blue understand
							|  yourself and your environment to know your assets and opportunities, 
							span._underlined._yellow decide
							|  what is the best strategy and 
							span._underlined._red take action
							|, relentlessly.

					.cta.ls-col-8
						button.arrow-button(href="#")
							span._label Get to know us.
							span._icon.down
								+arrow-down("#55c4f0")