#mobile-menu.opened
	.slogan-wrap
		p.p2 
			span._blue Understand
			span._dot ·
			span._yellow Decide
			span._dot ·
			span._red Take Action


	.menu-links-wrap
		.ls-container.pages-wrap
			.ls-row
				ul.offset-2.ls-col-20
					li
						a.arrow-button(href="#") 
							span._label Blog.
							span._icon.right
								+arrow-right("#55c4f0")
					
					li
						a.arrow-button(href="#") 
							span._label Upcoming Events.
							span._icon.right
								+arrow-right("#f6eb30")



		.ls-container.footer-shortcut
			.shadow-wrap

			.ls-row.cols-wrap
				.nav-col.understand.offset-2.ls-col-20.ls-col-xs-8.ls-col-sm-5
					h4._title Sitemap
					ul
						li
							button.arrow-button
								span._label Landing
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							button.arrow-button
								span._label i. Our focus
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							button.arrow-button
								span._label ii. How we do it
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							button.arrow-button
								span._label iii. Services
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							button.arrow-button
								span._label iv. Clients
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							button.arrow-button
								span._label v. Events
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							button.arrow-button
								span._label vi. Contact
								span._icon.sm.down
									+arrow-down("#ffffff")


				.nav-col.decide.offset-2.ls-col-20.offset-xs-4.ls-col-xs-8.ls-col-sm-5
					h4._title Learn more
					ul
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Medium
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Spotify
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Apple Podcasts
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Credits
								span._icon.sm.right
									+arrow-right("#ffffff")


				.nav-col.takeaction.offset-2.ls-col-20.ls-col-xs-8.offset-sm-1.ls-col-sm-5
					h4._title Follow us
					ul
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Instagram
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Twitter
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label LinkedIn
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Facebook
								span._icon.sm.right
									+arrow-right("#ffffff")

				._copyright.ls-col-20.offset-2
					p.p2 Copyright © LifeStrategics 2020





