#mobile-menu
	.slogan-wrap
		p.p2 
			span._blue Understand
			span._dot ·
			span._yellow Decide
			span._dot ·
			span._red Take Action


	.menu-links-wrap
		.ls-container.pages-wrap
			.ls-row
				ul.offset-2.ls-col-20
					li
						a.arrow-button(href="#") 
							span._label Blog.
							span._icon.right
								+arrow-right("#55c4f0")
					
					li
						a.arrow-button(href="#") 
							span._label Eventos.
							span._icon.right
								+arrow-right("#f6eb30")



		.ls-container.footer-shortcut
			.ls-row.cols-wrap
				.nav-col.understand.offset-2.ls-col-20.ls-col-xs-8.ls-col-sm-7
					h4._title Mapa del sitio
					ul
						li
							a(href="hero-section").scroll-to-js.arrow-button.mob-menu-page-scroll
								span._label Inicio
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							a(href="ourfocus-section").scroll-to-js.arrow-button.mob-menu-page-scroll
								span._label i. Nuestro enfoque
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							a(href="services-section").scroll-to-js.arrow-button.mob-menu-page-scroll
								span._label ii. Lo que te ofrecemos
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							a(href="how-section").scroll-to-js.arrow-button.mob-menu-page-scroll
								span._label iii. Cómo lo hacemos
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							a(href="clients-section").scroll-to-js.arrow-button.mob-menu-page-scroll
								span._label iv. Proyectos y Participaciones
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							a(href="blog-section").scroll-to-js.arrow-button.mob-menu-page-scroll
								span._label v. Nuestro Blog
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							a(href="events-section").scroll-to-js.arrow-button.mob-menu-page-scroll
								span._label vi. Próximos Eventos
								span._icon.sm.down
									+arrow-down("#ffffff")
						li
							a(href="contact-section").scroll-to-js.arrow-button.mob-menu-page-scroll
								span._label vi. Contacto
								span._icon.sm.down
									+arrow-down("#ffffff")


				.nav-col.decide.offset-2.ls-col-20.offset-xs-4.ls-col-xs-8.offset-sm-2.ls-col-sm-5
					h4._title Más contenido
					ul
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Medium
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Spotify
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Apple Podcasts
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Créditos
								span._icon.sm.right
									+arrow-right("#ffffff")


				.nav-col.takeaction.offset-2.ls-col-20.ls-col-xs-8.offset-sm-1.ls-col-sm-5
					h4._title Síguenos
					ul
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Instagram
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Twitter
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label LinkedIn
								span._icon.sm.right
									+arrow-right("#ffffff")
						li
							a(href="#" target="_blank" rel="nofollow noopener noreferrer").arrow-button
								span._label Facebook
								span._icon.sm.right
									+arrow-right("#ffffff")

				._copyright.ls-col-20.offset-2
					p.p2 Copyright © LifeStrategics 2020





