section#enfoque.page-section.inner-padded.slogan-highlight-blue
	.ls-container
		.ls-row
			p.p2.section-name.ls-col-22.offset-1 i. Nuestro enfoque

		.content.ls-row
			.description-wrap.ls-col-19.offset-3.ls-col-sm-10.offset-sm-1.offset-md-2.ls-col-md-9.ls-col-xl-8.ls-col-xxl-8.offset-xxl-3
				#focus-block_text-container.inner-container.motion-cascade
					#default-info.focus-info-block
						.wrap
							h1.h2(data-cascade="slide-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Nuestras áreas de acción.

							p.p2(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3") Combinamos procesos y herramientas de cada área de acción para lograr soluciones integrales a la medida de tus necesidades.

							p.h4(data-cascade="slide-up" data-cascade-delay="5" data-cascade-delay-mobile="5")
								|Haz 
								span._underlined._blue clic
								|  en cada círculo.

					#seb-info.focus-info-block.invisible
						.wrap.hide
							h2.h2._title(data-cascade="slide-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Negocios con enfoque digital, social y ambiental

							p.p2(data-cascade="slide-up" data-cascade-delay="2" data-cascade-delay-mobile="2") Nos sumamos a la Gestión del Cambio y en el mundo de los negocios nos enfocamos en sumar a su transformación para sumar a su adaptabilidad a cambios en los mercados y hacerlos más amigables con la sociedad y el medio ambiente.

							button.arrow-button.--big.default-info-trigger(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3")
								span._icon.left
									+arrow-left("#55c4f0")
								span._label Volver

					#cps-info.focus-info-block.invisible
						.wrap.hide
							h2.h2._title(data-cascade="slide-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Creative problem solving

							p.p2(data-cascade="slide-up" data-cascade-delay="2" data-cascade-delay-mobile="2")  Con más de 50 herramientas a través de la Creatividad diagnosticamos la situación, definimos metas y objetivos, ideamos opciones estratégicas, validamos su viabilidad y creamos tu plan de implementación con indicadores estratégicos y de impacto.

							button.arrow-button.--big.default-info-trigger(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3")
								span._icon.left
									+arrow-left("#55c4f0")
								span._label Volver

					#sc-info.focus-info-block.invisible
						.wrap.hide
							h2.h2._title(data-cascade="slide-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Comunicación y marketing digital

							p.p2(data-cascade="slide-up" data-cascade-delay="2" data-cascade-delay-mobile="2")  Los correctos procesos de Comunicación Interpersonal, Comunicación Corporativa y Marketing Digital son piezas esenciales para superar retos entre personas y equipos, y sumar a los objetivos de proyectos y negocios.

							button.arrow-button.--big.default-info-trigger(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3")
								span._icon.left
									+arrow-left("#55c4f0")
								span._label Volver



			.graph-wrap.ls-col-sm-11.offset-sm-1.offset-md-2.ls-col-md-9.ls-col-xl-10.offset-xl-2.offset-xxl-1
				#graph-circles-container.inner-container.motion-cascade
					.graph-circle.seb
						._outline
							svg(viewBox="0 0 100 100")
								circle(cx="50" cy="50" r="49" stroke-width="1" fill="none")

						h3.h3 
							span(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3")
								span._line Negocios con
								span._line enfoque Digital,
								span._line Social y Ambiental

					.graph-circle.cps
						._outline
							svg(viewBox="0 0 100 100")
								circle(cx="50" cy="50" r="49" stroke-width="1" fill="none")

						h3.h3 
							span(data-cascade="slide-up" data-cascade-delay="4" data-cascade-delay-mobile="4")
								span._line Creative
								span._line Problem Solving

					.graph-circle.sc
						._outline
							svg(viewBox="0 0 100 100")
								circle(cx="50" cy="50" r="49" stroke-width="1" fill="none")

						h3.h3 
							span(data-cascade="slide-up" data-cascade-delay="5" data-cascade-delay-mobile="5")
								span._line Comunicación
								span._line y Marketing Digital




