section#ourfocus-section.page-section.inner-padded
	.desktop-grid
		h4.h4.section-name.col-lg-22.offset-lg-1 i. Our focus

		.content
			.description-wrap.col-lg-7.offset-lg-3
				.inner-container
					h2.h2 These are the areas we develop with you

					p.p2 Each one with their own subcategories and specialties, strongly bonded to work as single system: one for all and all for one.

					p.h4 Click them to now more.

			.graph-wrap.col-lg-10.offset-lg-2
				.inner-container
					.graph-circle.seb
						._outline

						h3.h3 
							span._line Socio
							span._line Environmental
							span._line Business

					.graph-circle.cps
						._outline

						h3.h3 
							span._line Creative
							span._line Problem Solving

					.graph-circle.sc
						._outline

						h3.h3 
							span._line Strategic
							span._line Communication
