section#ourfocus-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1 i. Our focus

		.content.ls-row
			.description-wrap.ls-col-7.offset-3
				.inner-container
					h2.h2 These are the areas we develop with you

					p.p2 Each one with their own subcategories and specialties, strongly bonded to work as single system: one for all and all for one.

					p.h4
						span._underlined._blue Click
						|  them to now more.

			.graph-wrap.ls-col-10.offset-2
				.inner-container
					.graph-circle.seb
						._outline

						h3.h3 
							span._line Socio
							span._line Environmental
							span._line Business

					.graph-circle.cps
						._outline

						h3.h3 
							span._line Creative
							span._line Problem Solving

					.graph-circle.sc
						._outline

						h3.h3 
							span._line Strategic
							span._line Communication
