section#ourfocus-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1 
				span.motion-cascade(data-cascade="rotate-up") i. Our focus

		.content.ls-row
			.description-wrap.ls-col-19.offset-3.ls-col-sm-10.offset-sm-1.offset-md-2.ls-col-md-9.ls-col-xl-8.ls-col-xxl-8.offset-xxl-3
				#focus-block_text-container.inner-container
					#default-info.focus-info-block
						.wrap
							h2.h2.motion-cascade(data-cascade="slide-up" data-cascade-delay="1" data-cascade-delay-mobile="1") These are the areas we develop with you

							p.p2.motion-cascade(data-cascade="slide-up" data-cascade-delay="2" data-cascade-delay-mobile="2") Each one with their own subcategories and specialties, strongly bonded to work as single system: one for all and all for one.

							p.h4.motion-cascade(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3")
								span._underlined._blue Click
								|  the circles to learn more.

					#seb-info.focus-info-block.invisible
						.wrap.hide
							h2.h2.motion-cascade(data-cascade="slide-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Social & Friendly Environmental Business.

							p.p2.motion-cascade(data-cascade="slide-up" data-cascade-delay="2" data-cascade-delay-mobile="2") Learn from your environment and create with a purpose; ROI and benefits are not only measured on currencies, the impact of your business (and your life) should create a legacy that helps the society and the ecosystem.

							button.arrow-button.--big.default-info-trigger.motion-cascade(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3")
								span._icon.left
									+arrow-left("#55c4f0")
								span._label Back.

					#cps-info.focus-info-block.invisible
						.wrap.hide
							h2.h2.motion-cascade(data-cascade="slide-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Finding solutions from problem itself.

							p.p2.motion-cascade(data-cascade="slide-up" data-cascade-delay="2" data-cascade-delay-mobile="2")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores pariatur modi aut aliquam mollitia, ipsa nostrum consequatur dicta explicabo culpa assumenda eius reiciendis nihil enim similique libero incidunt rerum? Nemo.

							button.arrow-button.--big.default-info-trigger.motion-cascade(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3")
								span._icon.left
									+arrow-left("#55c4f0")
								span._label Back.

					#sc-info.focus-info-block.invisible
						.wrap.hide
							h2.h2.motion-cascade(data-cascade="slide-up" data-cascade-delay="1" data-cascade-delay-mobile="1") Stop speaking, start talking; just listen.

							p.p2.motion-cascade(data-cascade="slide-up" data-cascade-delay="2" data-cascade-delay-mobile="2")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores pariatur modi aut aliquam mollitia, ipsa nostrum consequatur dicta explicabo culpa assumenda eius reiciendis nihil enim similique libero incidunt rerum? Nemo.

							button.arrow-button.--big.default-info-trigger.motion-cascade(data-cascade="slide-up" data-cascade-delay="3" data-cascade-delay-mobile="3")
								span._icon.left
									+arrow-left("#55c4f0")
								span._label Back.



			.graph-wrap.ls-col-sm-11.offset-sm-1.offset-md-2.ls-col-md-9.ls-col-xl-10.offset-xl-2.offset-xxl-1
				#graph-circles-container.inner-container
					.graph-circle.seb
						._outline

						h3.h3 
							.motion-cascade(data-cascade="slide-up" data-cascade-delay="3")
								span._line Socio
								span._line Environmental
								span._line Business

					.graph-circle.cps
						._outline

						h3.h3 
							.motion-cascade(data-cascade="slide-up" data-cascade-delay="3")
								span._line Creative
								span._line Problem Solving

					.graph-circle.sc
						._outline

						h3.h3 
							.motion-cascade(data-cascade="slide-up" data-cascade-delay="5")
								span._line Strategic
								span._line Communication




