mixin service-card-content(description, projectsMethods, peopleMethods)
	.text-wrap
		.inner-container
			._description.p2 #{description}

			.profiles-container
				._note.p3 Service delivery according to your profile.

				.profile-wrap
					._name.p2 For new and existing projects.
					ul._methods
						for n, i in projectsMethods
							li(class="p3 #{n.color}")= n.name

				.profile-wrap
					._name.p2 For teams and people.
					ul._methods
						for n, i in peopleMethods
							li(class="p3 #{n.color}")= n.name



section#services-section.page-section.inner-padded
	.ls-container
		.ls-row
			h4.p2.section-name.ls-col-22.offset-1
				span.motion-cascade(data-cascade="rotate-up" data-cascade-delay="0") iii. What you'll get

			.title-wrap.ls-col-20.offset-2
				h1.h1.motion-cascade
					span.cascade-mask.inline-block
						span(data-cascade="mask-up" data-cascade-delay="0" data-cascade-delay-mobile="0") Our

					span#services-animation.dw-highlight.underline.long
						span._text.cascade-mask.inline-block
							span(data-cascade="mask-up" data-cascade-delay="2" data-cascade-delay-mobile="2") Services
						
						span._scaleDown
							+hl-underline("#f6eb30")

			.services-wrap.ls-col-21.offset-2.offset-md-5.ls-col-md-17.ls-col-lg-18.ls-col-xxl-17.offset-xxl-6
				.service-container(data-show="true")
					.toggle-wrap(data-index="0")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open.long
								span._text Business
								+hl-circle-open("#f6eb30")
							|  Plan Creation

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works, what would users should expect and why it’s something they should request, what would be the ultimate benefits.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)


				.service-container(data-show="false")
					.toggle-wrap(data-index="1")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open.long
								span._text Strategic
								+hl-circle-open("#f6eb30")
							|  & Implementation Planning

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works, what would users should expect and why it’s something they should request, what would be the ultimate benefits.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)


				.service-container(data-show="false")
					.toggle-wrap(data-index="2")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open-round.lighter
								span._text Value
								+hl-circle-open-round("#f6eb30")
							|  Proposition Design

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)


				.service-container(data-show="false")
					.toggle-wrap(data-index="3")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open.long
								span._text Customer
								+hl-circle-open("#f6eb30")
							|  Journey & Experience Design

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)


				.service-container(data-show="false")
					.toggle-wrap(data-index="4")
						h2.h2
							| Marketing 
							span.servicehl-animation.dw-highlight.circle-open-round.lifted
								span._text Plan
								+hl-circle-open-round("#f6eb30")
							|  Online & Offline

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)


				.service-container(data-show="false")
					.toggle-wrap(data-index="5")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open.long
								span._text Marketing
								+hl-circle-open("#f6eb30")
							|  Strategy & Commercial Processes

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)

				
				.service-container(data-show="false")
					.toggle-wrap(data-index="6")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open.long.bolder
								span._text Training
								+hl-circle-open("#f6eb30")
							|  on Strategic & Creative Leadership

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)

				
				.service-container(data-show="false")
					.toggle-wrap(data-index="7")
						h2.h2
							| Training on Creative Thinking for 
							span.servicehl-animation.dw-highlight.circle-open-long
								span._text Entrepreneurship
								+hl-circle-open-long("#f6eb30")

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)


				.service-container(data-show="false")
					.toggle-wrap(data-index="8")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open-long.lifted.larger
								span._text Team Building
								+hl-circle-open-long("#f6eb30")
							|  & Organizational Communication

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)


				.service-container(data-show="false")
					.toggle-wrap(data-index="9")
						h2.h2
							span.servicehl-animation.dw-highlight.circle-open.long.bolder
								span._text Change
								+hl-circle-open("#f6eb30")
							|  Management

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)

				
				.service-container(data-show="false")
					.toggle-wrap(data-index="10")
						h2.h2
							| Facilitation for Product or Service 
							span.servicehl-animation.dw-highlight.circle-open-long.lifted.larger.bolder
								span._text Innovation
								+hl-circle-open-long("#f6eb30")
							|  & Development

						.toggle-info-button

					+service-card-content(
						"Brief description of how this service works.",
						[
							{
								"color": "blue",
								"name": "Facilitation"
							}
						],
						[
							{
								"color": "yellow",
								"name": "Implementation"
							},
							{
								"color": "red",
								"name": "Back office"
							},
							{
								"color": "red",
								"name": "Co-design"
							}
						]
					)

				








