section#services-section.page-section.inner-padded
	.desktop-grid
		h4.h4.section-name.col-lg-22.offset-lg-1 iii. What you'll get

		.title-wrap.col-lg-20.offset-lg-2
			h1.h1
				|Our 
				span.highlight Services

		.services-wrap.col-lg-17.offset-lg-6
			.service-container.opened
				.toggle-wrap
					h2.h2 Business Plan Creation

					button.toggle-info-button

				.text-wrap
					._description.p2 Brief description of how this service works, what would users should expect and why it’s something they should request, what would be the ultimate benefits.

					.profiles-container
						._note.p3 Service delivery according to your profile.

						.profile-wrap
							._name.p2 For new and existing projects.
							ul._methods
								li.p3.blue Facilitation

						.profile-wrap
							._name.p2 For teams and people.
							ul._methods
								li.p3.yellow Implementation
								li.p3.red Back office
								li.p3.red Co-design
			

			.service-container
				.toggle-wrap
					h2.h2 Strategic & Implementation Planning
					button.toggle-info-button
			

			.service-container
				.toggle-wrap
					h2.h2 Value Proposition Design
					button.toggle-info-button