#blog-section{
	// border-bottom: 1px solid $blue;

	background-color: $bg-color;
	z-index: 1;

	.section-name{
		color: $blue;
	}

	.title-wrap{
		text-align: center;
		margin-bottom: 60px;
		
		@include tablet {
			margin-bottom: 110px;
		}
		
		@include small-desktop {
			margin-bottom: 160px;
		}

		._line{
			display: block;
		}

		span[data-cascade]{
			white-space: pre;
		}

		.dw-highlight{
			&.underline{
				svg{
					bottom: -34%;
				}
			}
		}
	}


	.blog-list-container{
		position: relative;
		width: 100%;
	}

	.blogpost-row{
		&:not(:last-child){
			margin-bottom: 80px;
			
			@include large-mobile {
				margin-bottom: 100px;
			}

			@include laptop {
				margin-bottom: 120px;
			}
				
			@include small-desktop {
				margin-bottom: 160px;
			}
		}


		.link-container{
			color: inherit;
			text-decoration: none;

			&:hover{
				.cover-container{
					img{
						@include ease(1s);
						@include scale(1, 1);
					}
				}

				.info-container{
					._icon{
						&.right{
							@include translate(5px, 0);
						}
					}
				}
			}
		}

		.cover-container{
			margin-bottom: 20px;

			@include tablet {
				margin-bottom: 0;
			}

			.image-wrap{
				position: relative;
				width: 100%;
				overflow: hidden;
			}

			img{
				vertical-align: top;
				width: 100%;
				@include ease(.6s);
				@include scale(1.15, 1.15);
			}
		}

		.info-container{
			@include flexIt;
			@include flexDirection-Vert;
			@include flexJustify;

			._title{
				position: relative;
				width: 100%;
				margin-bottom: 32px;
				line-height: 1em;

				@include tablet {
					margin-top: -0.2em;
					// margin-bottom: 0;
				}

				._index{
					position: absolute;
					top: .71em;
					// right: 101.3%;
					right: -webkit-calc(100% + #{$ls-grid__gutterWidth-mob});
					right: -moz-calc(100% + #{$ls-grid__gutterWidth-mob});
					right: calc(100% + #{$ls-grid__gutterWidth-mob});
					line-height: 1em;
					color: $blue;
					text-align: right;

					@include tablet {
						top: 1.15em;
						right: -webkit-calc(100% + #{$ls-grid__gutterWidth});
						right: -moz-calc(100% + #{$ls-grid__gutterWidth});
						right: calc(100% + #{$ls-grid__gutterWidth});
					}

					@include laptop {
						top: 1.2em;
					}

					@include small-desktop {
						top: 1.28em;
					}
				}
			}

			.bottom-wrap{
				width: 100%;
				margin-bottom: -0.3em;
				@include flexIt;
				@include flexJustify;
			}

			._tags{
				position: relative;
				margin-bottom: -0.05em;
				padding-right: 40px;
				@include flexSelf-bottom;

				@include tablet {
					padding-right: 80px;
				}
			}

			._cta{
				position: relative;
				padding-right: 30px;
				@include flexSelf-bottom;

				@include tablet {
					padding-right: 60px;
				}

				._label{
					vertical-align: middle;
				}
			}
		}
	}
}


.blog-list-container{
	@include laptop {
		pointer-events: none;
		&:hover{
			.link-container{
				opacity: .35;
			}
		}

		.link-container{
			pointer-events: auto;
			@include transitions-ease(.4s);
			&:hover{opacity: 1;}
		}
	}
}











