#blog{
	// border-bottom: 1px solid $blue;

	background-color: $bg-color;
	z-index: 1;

	.section-name{
		color: $blue;
	}

	.title-wrap{
		text-align: center;
		margin-bottom: 60px;
		
		@include tablet {
			margin-bottom: 110px;
		}
		
		@include small-desktop {
			margin-bottom: 160px;
		}

		._line{
			display: block;
		}

		span[data-cascade]{
			white-space: pre;
		}

		.dw-highlight{
			&.underline{
				svg{
					bottom: -18%;
				}
			}
		}
	}


	.blog-list-container{
		position: relative;
		width: 100%;
	}

	.link-container{
		color: inherit;
		text-decoration: none;
	}

	.blogpost-row{
		// border-top: 1px solid red;
		&.post-margin{
			margin-bottom: 80px;
			
			@include large-mobile {
				margin-bottom: 100px;
			}

			@include laptop {
				margin-bottom: 120px;
			}
				
			@include small-desktop {
				margin-bottom: 160px;
			}
		}


		.link-container{
			&:hover{
				.cover-container{
					img{
						@include ease(1s);
						@include scale(1.15, 1.15);
					}
				}

				.info-container{
					._icon{
						&.right{
							@include translate(5px, 0);
						}
					}
				}

				.circle-open{
					path{
						@include ani-name("circle-open--in");
					}
				}
				.circle-open-round{
					path{
						@include ani-name("circle-round--in");
					}
				}
				.circle-open-long{
					path{
						@include ani-name("circle-long--in");
					}
				}
			}
		}

		.cover-container{
			margin-bottom: 20px;

			@include tablet {
				margin-bottom: 0;
			}

			.image-wrap{
				position: relative;
				width: 100%;
				overflow: hidden;
			}

			img{
				vertical-align: top;
				width: 100%;
				@include ease(.6s);
				// @include scale(1.15, 1.15);
			}
		}

		.index-container{
			color: $blue;
			line-height: 1.3em;

			@include tablet {
				margin-top: -0.55em;
			}
		}

		.info-container{
			._title{
				position: relative;
				width: 100%;
				margin-bottom: 32px;
				line-height: 1em;

				@include tablet {
					margin-top: -0.2em;
					// margin-bottom: 0;
				}

				._index{
					position: absolute;
					top: .71em;
					// right: 101.3%;
					right: -webkit-calc(100% + #{$ls-grid__gutterWidth-mob});
					right: -moz-calc(100% + #{$ls-grid__gutterWidth-mob});
					right: calc(100% + #{$ls-grid__gutterWidth-mob});
					line-height: 1em;
					color: $blue;
					text-align: right;

					@include tablet {
						top: 1.15em;
						right: -webkit-calc(100% + #{$ls-grid__gutterWidth});
						right: -moz-calc(100% + #{$ls-grid__gutterWidth});
						right: calc(100% + #{$ls-grid__gutterWidth});
					}

					@include laptop {
						top: 1.2em;
					}

					@include small-desktop {
						top: 1.28em;
					}
				}
			}

			.bottom-wrap{
				margin-bottom: -0.3em;
			}

			._tags{
				position: relative;
				@include flexSelf-bottom;
			}

			._cta{
				position: relative;
				padding-right: 30px;
				@include flexSelf-bottom;

				@include tablet {
					padding-right: 60px;
				}

				._label{
					vertical-align: middle;
				}
			}
		}

		&:not(.no-img){
			.info-container{
				@include flexIt;
				@include flexDirection-Vert;
				@include flexJustify;

				.bottom-wrap{
					width: 100%;
					@include flexIt;
					@include flexJustify;
				}

				._tags{
					padding-right: 40px;
					margin-bottom: -0.05em;

					@include tablet {
						padding-right: 80px;
					}
				}
			}
		}


		&.no-img{
			.info-container{
				// border-bottom: 1px solid red;

				.bottom-wrap{
					@include flexNoWrap;
				}

				// ._tags{
				// 	border-top: 1px solid red;
				// }

				.cta-wrap{
					@include flexIt;
				}

				._cta{
					width: 100%;
					text-align: right;
					// margin-bottom: -0.05em;
				}
			}
		}
	}

	.view-all-row{
		.link-container{
			&:hover{
				._icon{
					&.right{
						@include translate(10px, 0);
					}
				}
			}
		}

		.view-all-wrap{
			position: relative;
			width: 100%;

			.top-line{
				display: block;
				position: relative;
				width: 100%;
				height: 1px;
				margin-bottom: 24px;
				background-color: $body-text-color;

				@include tablet {
					height: 3px;
				}

				@include laptop {
					margin-bottom: 34px;
				}
			}

			.arrow-button{
				display: inline-block;
				padding-right: 56px;

				@include tablet {
					padding-right: 76px;
				}
				@include laptop {
					padding-right: 88px;
				}
				@include small-desktop {
					padding-right: 110px;
				}
			}
		}
	}
}


.blog-list-container{
	@include laptop {
		pointer-events: none;
		&:hover{
			.link-container{
				opacity: .35;
			}
		}

		.link-container{
			pointer-events: auto;
			@include transitions-ease(.4s);
			&:hover{opacity: 1;}
		}
	}
}











