#proyectos{
	// border: 1px solid $yellow;
	background-color: $bg-color;
	overflow: hidden;
	padding-bottom: 0;

	.section-name{
		color: $yellow;
	}

	.title-indexed{
		.name-wrap{
			position: relative;
			display: inline-block;
			margin-bottom: 20px;
			
			@include tablet {
				margin-bottom: 40px;
			}

			._index{
				position: absolute;
				// bottom: 5px;
				top: 1.06em;
				left: -1em;
				line-height: 1em;
				text-transform: lowercase;
				color: $yellow;

				@include tablet {
					top: 2em;
				}

				@include laptop {
					top: 1.9em;
				}

				@include small-desktop {
					top: 2.38em;
					left: -.8em;
				}
			}

			[data-cascade]{
				display: inline-block;
			}
		}
	}

	.projects-grid{
		&:not(:last-child){
			margin-bottom: 80px;

			@include small-desktop {
				margin-bottom: 100px;
			}
		}

		.logo-cell{
			position: relative;
			display: inline-block;
			width: 50%;
			height: 80px;
			margin-bottom: 40px;
			// outline: 1px solid red;

			@include large-mobile {
				width: auto;
			}

			@include tablet {
				margin-bottom: 60px;
			}

			@include small-desktop {
				margin-bottom: 80px;
			}

			svg, img{
				position: absolute;
				margin: auto;
				top: 0; bottom: 0;
				left: 0; right: 0;
				width: 100%;
				max-width: 120px;

				@include tablet {max-width: 110px;}
				
				@include small-laptop {max-width: 130px;}

				@include laptop {
					max-width: 160px;
					// height: 60px;
				}

				@include desktop {
					max-width: 100%;
					width: auto;
					// height: 80px;
				}
			}


			// Special aspect ratio ones
			&.small{
				svg, img{
					max-width: unset;
					@include desktop {max-width: 100%;}
				}
			}
			&.mid{
				svg, img{
					@include tablet {max-width: 150px;}
					@include small-laptop {max-width: 180px;}
					@include laptop {max-width: 200px;}
					@include small-desktop {max-width: 230px;}
					@include desktop {max-width: unset;}
				}
			}

			&.usaid{
				svg, img{
					width: 90px;

					@include large-mobile {width: 72px;}
					@include tablet {width: 90px;}
					@include laptop {width: 110px;}
					@include small-desktop {width: 120px;}
					@include desktop {width: auto;}
				}
			}
			&.mexico-sos{
				svg, img{
					width: 86px;

					@include large-mobile {width: 68px;}
					@include tablet {width: 86px;}
					@include laptop {width: 100px;}
					@include small-desktop {width: 112px;}
					@include desktop {width: auto;}
				}
			}
			&.jtc{
				svg, img{
					width: 90px;

					@include large-mobile {width: 72px;}
					@include tablet {width: 84px;}
					@include laptop {width: 110px;}
					@include desktop {width: auto;}
				}
			}
			&.ccc{
				svg, img{
					@include small-desktop {width: auto;}
				}
			}
		}
	}
}




