#clients-section{
	border: 1px solid $yellow;
	background-color: $bg-color;
	overflow: hidden;

	.section-name{
		color: $yellow;
	}

	.title-indexed{
		.name-wrap{
			position: relative;
			display: inline-block;
			margin-bottom: 20px;
			
			@include tablet {
				margin-bottom: 40px;
			}

			._index{
				position: absolute;
				// bottom: 5px;
				top: 1.06em;
				left: -1em;
				line-height: 1em;
				text-transform: lowercase;
				color: $yellow;

				@include tablet {
					top: 2em;
				}

				@include laptop {
					top: 1.9em;
				}

				@include small-desktop {
					top: 2.38em;
					left: -.8em;
				}
			}
		}
	}

	.projects-grid{
		&:not(:last-child){
			margin-bottom: 80px;

			@include small-desktop {
				margin-bottom: 100px;
			}
		}

		.logo-cell{
			position: relative;
			display: inline-block;
			height: 80px;
			margin-bottom: 40px;

			@include tablet {
				margin-bottom: 60px;
			}

			@include small-desktop {
				margin-bottom: 100px;
			}

			svg, img{
				position: absolute;
				margin: auto;
				top: 0; bottom: 0;
				left: 0; right: 0;
				width: 100%;
				max-width: 120px;
				opacity: .65;

				@include laptop {
					width: auto;
					height: 60px;
				}
			}

			&.tall{
				svg{height: 80px;}
			}
		}
	}
}