#contact-section{
	padding-bottom: 120px;

	@include tablet {
		padding-bottom: 180px;
	}

	@include small-desktop {
		padding-bottom: 330px;
	}

	/* Possible fixed footer */
	background-color: $bg-color;

	.section-name{
		color: $red;
	}

	.title-wrap{
		margin-bottom: 20px;

		@include tablet {
			margin-bottom: 100px;
		}

		@include small-desktop {
			margin-bottom: 260px;
		}

		._line{
			display: block;
		}
	}

	.cta-wrap{
		@include mobile {
			@include flexWrap;
		}

		@include flexIt;
		@include flexJustify;

		._arrow{
			position: relative;
			width: 30px;
			height: 100px;
			
			@include tablet {
				width: 23%;
				height: 52px;
				@include flexIt;
			}

			@include laptop {
				width: 34.675%;
			}


			._body{
				width: 100%;
				height: 100%;

				&:before{
					content: '';
					position: absolute;
					margin: auto;
					left: 0; right: 0;
					bottom: 8px;
					width: 2px;
					height: 80%;
					border-radius: 2px;
					background-color: $body-text-color;

					@include tablet {
						top: 8px;
						bottom: 0;
						left: 0;
						right: auto;
						width: 99.2%;
						height: 4px;
					}

					@include laptop {
						width: 99.2%;
					}
				}
			}

			._chevron{
				@include mobile {
					position: absolute;
					bottom: 0;
				}

				width: 100%;
				
				@include tablet {
					width: 30px;
					@include flexShrink(0);
					height: 100%;
				}


				.chevron-right{
					@include mobile {display: none;}
				}

				.chevron-down{
					@include tablet {display: none;}
				}
				
				svg{
					@include mobile {vertical-align: bottom;}
					width: 100%;
				}
			}
		}

		._mail-btn{
			@include mobile {
				width: 100%;
			}

			text-decoration: none;
			color: inherit;

			@include tablet {
				text-align: right;
			}

			&:hover{
				.circle-open, .circle-open-round{
					path{
						stroke-dashoffset: 0;
					}
				}
			}
		}
	}
}