#events-section{
	// border-bottom: 1px solid $blue;

	background-color: $bg-color;
	z-index: 1;

	.section-name{
		color: $yellow;
	}

	.title-wrap{
		text-align: center;
		margin-bottom: 60px;
		
		@include tablet {
			margin-bottom: 110px;
		}
		
		@include small-desktop {
			margin-bottom: 160px;
		}

		._line{
			display: block;
		}

		span[data-cascade]{
			white-space: pre;
		}

		.dw-highlight{
			&.underline{
				svg{
					bottom: -22%;

					// @include small-desktop {
					// 	bottom: -25%;
					// }
				}
			}
		}
	}
}

.events-list-container{
	@include laptop {
		pointer-events: none;
		&:hover{
			.link-container{
				opacity: .35;
			}
		}

		.link-container{
			pointer-events: auto;
			@include transitions-ease(.4s);
			&:hover{opacity: 1;}
		}
	}
}

.event-row{
	&:not(:last-child){
		margin-bottom: 80px;
			
		@include large-mobile {
			margin-bottom: 100px;
		}

		@include laptop {
			margin-bottom: 120px;
		}
			
		@include small-desktop {
			margin-bottom: 160px;
		}
	}

	.link-container{
		color: inherit;
		text-decoration: none;

		&:hover{
			._cover{
				img{
					@include ease(1s);
					@include scale(1.15, 1.15);
				}
			}

			._abstract{
				._icon{
					&.right{
						@include translate(5px, 0);
					}
				}
			}
		}
	}

	._title{
		margin-bottom: 12px;
		@include flexIt;
		@include flexAlign-center;
		line-height: 1em;
		padding-bottom: 10px;

		@include large-mobile {
			margin-bottom: 24px;
		}

		@include tablet {
			margin-bottom: 0;
		}

		@include laptop {
			line-height: 1.2em;
		}

		._wrap{
			position: relative;
		}

		._index{
			position: absolute;
			top: .71em;
			// right: 101.3%;
			right: -webkit-calc(100% + #{$ls-grid__gutterWidth-mob});
			right: -moz-calc(100% + #{$ls-grid__gutterWidth-mob});
			right: calc(100% + #{$ls-grid__gutterWidth-mob});
			line-height: 1em;
			color: $yellow;
			text-align: right;

			@include tablet {
				top: 1.1em;
				right: -webkit-calc(100% + #{$ls-grid__gutterWidth});
				right: -moz-calc(100% + #{$ls-grid__gutterWidth});
				right: calc(100% + #{$ls-grid__gutterWidth});
			}

			@include laptop {
				top: 1.56em;
			}
		}
	}

	._cover{
		@include flexIt;
		@include flexAlign-center;

		.image-wrap{
			position: relative;
			width: 100%;
			overflow: hidden;
		}

		img{
			vertical-align: top;
			position: relative;
			width: 100%;
			@include ease(.6s);
			// @include scale(1.15, 1.15);
		}
	}

	._abstract{
		@include flexIt;
		@include flexWrap;

		._date{
			line-height: .9em;
			// white-space: nowrap;
			margin-bottom: 8px;

			@include tablet {
				margin-bottom: 10px;
			}
		}

		._location{
			position: relative;
			line-height: 1.25em;
		}

		._cta{
			@include mobile {
				width: 100%;
			}

			position: relative;
			padding-right: 60px;
			bottom: -2px;
			text-align: left;
			@include flexSelf-bottom;

			@include tablet {
				// bottom: -8px;
			}

			._label, ._icon{
				vertical-align: baseline;
			}
		}
	}
	
}