#events-section{
	// border-bottom: 1px solid $blue;

	background-color: $bg-color;
	z-index: 1;

	.section-name{
		color: $blue;
	}

	.title-wrap{
		text-align: center;
		margin-bottom: 60px;
		
		@include tablet {
			margin-bottom: 110px;
		}
		
		@include small-desktop {
			margin-bottom: 160px;
		}

		._line{
			display: block;
		}

		span[data-cascade]{
			white-space: pre;
		}

		.dw-highlight{
			&.underline{
				svg{
					// bottom: -39%;
				}
			}
		}
	}
}

// .events-list-container{
// 	@include laptop {
// 		pointer-events: none;
// 		&:hover{
// 			.event-row{
// 				opacity: .35;
// 			}
// 		}

// 		.event-row{
// 			pointer-events: auto;
// 			@include transitions-ease(.4s);
// 			&:hover{opacity: 1;}
// 		}
// 	}
// }

.event-row{
	&:not(:last-child){
		margin-bottom: 60px;
			
		@include large-mobile {
			margin-bottom: 100px;
		}
			
		@include small-desktop {
			margin-bottom: 160px;
		}
	}

	._title{
		margin-bottom: 12px;
		@include flexIt;
		@include flexAlign-center;
		line-height: 1em;
		padding-bottom: 10px;

		@include large-mobile {
			margin-bottom: 24px;
		}

		@include tablet {
			margin-bottom: 0;
		}

		@include laptop {
			line-height: 1.2em;
		}

		._wrap{
			position: relative;
		}

		._index{
			position: absolute;
			top: .71em;
			right: 101.3%;
			line-height: 1em;
			color: $blue;
			text-align: right;

			@include tablet {
				top: 1.1em;
			}

			@include laptop {
				top: 1.56em;
			}
		}
	}

	._cover{
		@include flexIt;
		@include flexAlign-center;
		overflow: hidden;

		img{
			position: relative;
			width: 100%;
		}
	}

	._abstract{

		@include flexIt;
		@include flexWrap;

		._date{
			line-height: .9em;
			// white-space: nowrap;
			margin-bottom: 7px;
		}

		._location{
			position: relative;
			line-height: 1em;
		}

		._cta{
			@include mobile {
				width: 100%;
			}

			position: relative;
			padding-right: 60px;
			bottom: -2px;
			text-align: left;
			@include flexSelf-bottom;

			@include tablet {
				bottom: -8px;
			}

			._label, ._icon{
				vertical-align: baseline;
			}
		}
	}
	
}