.footer-fixed-holder{
	display: none;

	@include tablet {
	}

	@include small-laptop {
		display: block;
		z-index: 1;
		position: relative;
		width: 100%;
		height: 435px;
	}

	@include laptop {
		height: 480px;
	}

	.landing-footer{
		@include small-laptop {
			position: fixed;
			bottom: 0;
			height: 435px;
		}

		@include laptop {
			height: 480px;
		}
	}
}

.landing-footer{
	pointer-events: auto;
	position: relative;
	width: 100%;

	padding: 40px 0 60px;
	background-color: $dark-bg-color;

	@include tablet {
		padding: 85px 0 60px;
	}

	.info-col{
		.p2{
			@include tablet {
				line-height: 1.5em;
			}
		}

		._copyright{
			position: absolute;
			bottom: 10px;

			@include tablet {
				bottom: 5px;
			}

			img{
				position: relative;
				width: 22px;
				margin-bottom: 7px;

				@include tablet {
					margin-bottom: 17px;
				}
			}
			p{
				opacity: .6;
			}
		}
	}

	.nav-col{
		._title{
			margin-bottom: 16px;
			font-weight: lighter;

			@include tablet {
				line-height: 1.5em;
				margin-bottom: 32px;
			}
		}

		ul{
			&:hover{
				li{
					opacity: .25;

					&:hover{
						opacity: 1;
					}
				}
			}
		}

		li{
			display: block;
			position: relative;
			width: 100%;
			@include transitions-ease(.4s);

			button, a{
				position: relative;
				display: block;
				width: 100%;
				padding: 10px 0;
				text-align: left;
				@include transitions-ease(.4s);

				@include tablet {
					padding: 5px 0;
				}

				path{@include transitions-ease(.4s);}
			}
		}

		&.understand{
			li{
				button, a{
					&:hover{
						// color: $yellow;

						path {
							fill: $yellow;
						}
					}
				}
			}
		}

		&.decide{
			margin-top: 60px;

			@include small-laptop {
				margin-top: 0;
			}

			li{
				button, a{
					&:hover{
						// color: $blue;

						svg, path {
							fill: $blue;
						}
					}
				}
			}
		}

		&.takeaction{
			margin-top: 60px;

			@include small-laptop {
				margin-top: 0;
			}
			
			li{
				button, a{
					&:hover{
						// color: $red;

						svg, path {
							fill: $red;
						}
					}
				}
			}
		}
	}


	// for test only
	// &:after{
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	left: 0;
	// 	bottom: 2px;
	// 	width: 100%;
	// 	height: 1px;
	// 	background-color: $red;
	// }
}


