#inicio{
	min-height: 670px;
	// border-bottom: 1px solid $blue;

	background-color: $bg-color;

	@media (min-width: 350px) {
		height: 100vh;
		min-height: 550px;
	}

	@include tablet {
		min-height: 700px;
	}

	@include laptop {
		min-height: 620px;
	}

	@include small-desktop {
		min-height: 750px;
	}

	@include desktop {
		// min-height: 900px;
	}

	.title-wrap{
		position: relative;
		padding-top: 40px;
		margin-bottom: 60px;

		@include tablet {
			padding-top: 80px;
		}

		@include laptop {
			padding-top: 60px;
			margin-bottom: 0;
		}


		@include desktop {
			// padding-top: 100px;
		}

		.h1{
			max-width: 380px;
			margin: 0 auto;
			text-align: center;
			// line-height: 1em;

			@include tablet {max-width: 750px;}
			@include laptop {max-width: 850px;}
			@include small-desktop {max-width: 1100px;}

			._line{
				display: block;
			}
		}

		.dw-highlight{
			&.underline{
				svg{
					bottom: -36%;
				}
			}
		}


		span[data-cascade]{
			white-space: pre;
		}
	}

	.bottom-wrap{
		position: absolute;
		display: block;
		bottom: 100px;

		@include large-mobile {
			bottom: 60px;
		}

		@include tablet {
			bottom: 80px;
		}

		@include laptop {
			bottom: 60px;
		}

		@include small-desktop {
			// bottom: 100px;
		}

		.intro-wrap{
			position: relative;
			width: 42.26%;
			margin-bottom: 40px;

			@include large-mobile {
				margin-bottom: 0;
			}

			p{
				._underlined{
					position: relative;
					display: inline-block;

					&:before{
						content: '';
						position: absolute;
						bottom: 0px;
						display: block;
						width: 100%;
						height: 1px;
						@include scale(1.05, 1);

						@include tablet {
							bottom: -2px;
							height: 2px;
						}
					}

					&._blue:before{background-color: $blue;}
					&._yellow:before{background-color: $yellow;}
					&._red:before{background-color: $red;}
				}
			}
		}
		
		.cta{
			position: relative;
			margin-left: 4.1666665%;

			@include large-mobile {
				position: absolute;
				margin-left: 0;
				bottom: 0;
				right: 0;
				text-align: right;
			}

			.arrow-button{
				padding-right: 58px;
			}
		}
	}


	&.preload-hide{}


}