#how-section{
	border: 1px solid $blue;

	background-color: $bg-color;

	.section-name{
		color: $blue;
	}

	.bullet-row{
		&:not(:last-child){
			margin-bottom: 60px;

			@include tablet {
				margin-bottom: 100px;
			}

			@include small-laptop {
				margin-bottom: 135px;
			}

			@include small-desktop {
				margin-bottom: 170px;
			}
		}

		.name-wrap{
			position: relative;
			display: inline-block;

			._index{
				position: absolute;
				// bottom: 5px;
				top: 1.06em;
				left: -1em;
				line-height: 1em;
				text-transform: lowercase;
				color: $blue;

				@include tablet {
					top: 2em;
				}

				@include laptop {
					top: 1.9em;
				}

				@include small-desktop {
					top: 2.38em;
					left: -.8em;
				}
			}
		}

		.line-wrap{
			position: relative;
			display: block;
			width: 50px;
			height: 33px;
			margin-left: 1px;

			@include tablet {
				width: 200px;
			}

			@include small-laptop {
				display: inline-block;
				vertical-align: bottom;
				width: 90px;
				height: 80px;
				margin-left: 35px;
				margin-right: 50px;
			}

			@include laptop {
				height: 90px;
			}

			@include small-desktop {
				width: 150px;
				height: 99px;
				margin-left: 55px;
				margin-right: 90px;
			}

			&:after{
				content: '';
				position: absolute;
				margin: auto;
				top: 0; bottom: 0;
				width: 100%;
				height: 2px;
				background-color: $body-text-color;

				@include laptop {
					height: 3px;
				}
			}
		}

		.bullets-wrap{
			display: block;

			@include small-laptop {
				height: 80px;
				display: inline-block;
			}

			@include laptop {
				height: 90px;
			}

			@include small-desktop {
				height: 99px;
			}

			.center-container{
				@include small-laptop {
					position: absolute;
					top: 50%;
					@include translate(0, -50%);
				}
			}
		}
	}
}