#mobile-menu{
	z-index: 99;
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 60px;
	background-color: $dark-bg-color;
	@include flexIt;
	@include flexDirection-Vert;
	overflow: hidden;
	@include transitions-ease(.6s);
	@include translate(0, -100%);

	@include small-laptop {
		display: none;
	}

	&.opened{
		@include transitions-ease(.9s);
		@include translate(0, 0);

		& ~ #header-nav{
			background-color: $dark-bg-color;

			@include small-laptop {
				background-color: $bg-color;
			}

			&:after {
				display: none;

				@include small-laptop {
					display: block;
				}
			}
		}
	}


	.slogan-wrap{
		position: relative;
		text-align: center;
		text-transform: lowercase;
		margin: 0 auto 40px;

		._blue{color: $blue;}
		._yellow{color: $yellow;}
		._red{color: $red;}

		._dot{
			display: inline-block;
			margin: 0 5px;
		}
	}

	.menu-links-wrap{
		position: relative;
		width: 100%;
		height: 100%;
		@include flexIt;
		@include flexDirection-Vert;
		overflow: hidden;
	}

	.pages-wrap{
		position: relative;
		width: 100%;

		li:first-child{
			margin-bottom: 28px;
		}

		.arrow-button{
			font-size: 24px;
			padding-right: 45px;

			._icon{
				width: 21px;
			}
		}
	}

	.footer-shortcut{
		position: absolute;
		bottom: 0;
		width: 100%;

		.cols-wrap{
			padding-top: 30px;
			padding-bottom: 42px;
		}

		.nav-col{
			margin-bottom: 60px;

			._title{
				font-size: 22px;
				font-weight: lighter;
				@include smoothFont;
				margin-bottom: 20px;
			}

			ul{
				padding-left: 20%;

				@include large-mobile {
					padding-left: 0;
				}
			}

			li:not(:last-child){
				margin-bottom: 14px;
			}

			.arrow-button{
				display: block;
				width: 100%;
				text-align: left;

				._label{
					font-size: 18px;
				}

				._icon{
					opacity: .2;
					width: 16px;
				}

				&:hover, &:focus {
					._icon{
						opacity: 1;
					}
				}
			}

			&.understand{
				display: none;
				@include tablet {display: block;}
				.arrow-button{
					&:hover, &:focus{
						svg, path {
							fill: $blue;
						}
					}
				}
			}
			&.decide{
				display: none;
				@include tablet {display: block;}
				.arrow-button{
					&:hover, &:focus{
						svg, path {
							fill: $yellow;
						}
					}
				}
			}
			&.takeaction{
				.arrow-button{
					&:hover, &:focus{
						svg, path {
							fill: $red;
						}
					}
				}
			}
		}

		._copyright{
			opacity: .6;
		}
	}
}




















