#ourfocus-section{
	background-color: $bg-color;
	
	.section-name{
		color: $blue;
		margin-bottom: 110px;
	}

	.content{
		height: 467px;
	}

	.description-wrap{
		height: 100%;
		vertical-align: top;

		.inner-container{
			position: absolute;
			top: 44%;
			@include translate(0, -50%);
		}

		.h2{
			margin-bottom: 30px;
		}

		.p2{
			position: relative;
			width: 85.72%;
			margin-bottom: 60px;
		}

		.h4{
			cursor: default;
		}

		._underlined{
			position: relative;
			display: inline-block;

			&:before{
				content: '';
				position: absolute;
				bottom: -2px;
				display: block;
				width: 100%;
				height: 2px;
				@include scale(1.1, 1);
			}

			&._blue:before{background-color: $blue;}
			&._yellow:before{background-color: $yellow;}
		}
	}

	.graph-wrap{
		height: 100%;

		.inner-container{
			position: relative;
			margin: 0 auto;
			width: 488px;
			height: 100%;
			pointer-events: none;

			&:hover{
				.graph-circle{
					opacity: .2;

					&:hover{
						opacity: 1;
					}
				}
			}
		}

		.graph-circle{
			pointer-events: auto;
			position: absolute;
			width: 306px;
			height: 306px;
			border-radius: 50%;
			cursor: pointer;
			@include transitions-ease(.4s);

			&.seb{
				margin: auto;
				top: 0;
				left: 0; right: 0;

				.h3{
					top: -30px;
					left: 16.66%;
				}
			}

			&.cps{
				bottom: 0;
				left: 0;

				.h3{
					bottom: 55px;
					white-space: nowrap;
					left: -43%;
				}
			}

			&.sc{
				bottom: 0;
				right: 0;

				.h3{
					bottom: 55px;
					right: -50%;
				}
			}

			._outline{
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				border: 3px solid $blue;
				opacity: .35;
				@include transitions-ease(.4s);
			}

			.h3{
				position: absolute;

				._line{
					display: block;
				}
			}


			&:hover{
				z-index: 1;

				._outline{
					opacity: 1;
					border-color: $yellow;
					@include drawShadow(2px, 2px, 5px, 2px, #202020)
				}

				._line{
					text-shadow: 0px 0px 4px $bg-color;
				}
			}
		}
	}
}