#ourfocus-section{
	background-color: $bg-color;
	
	.section-name{
		color: $blue;
		margin-bottom: 20px;

		@include tablet {
			margin-bottom: 110px;
		}
	}

	.content{
		@include tablet {
			height: 467px;
		}
	}

	.description-wrap{
		@include mobile {
			max-width: 350px;
			padding-bottom: 140px;
		}

		@include tablet {
			height: 100%;
			vertical-align: top;
		}

		.inner-container{
			@include tablet {
				position: absolute;
				top: 44%;
				@include translate(0, -50%);
			}
		}

		.h2{
			margin-bottom: 30px;
		}

		.p2{
			position: relative;
			width: 85.72%;
			margin-bottom: 20px;

			@include tablet {
				margin-bottom: 60px;
			}
		}

		.h4{
			cursor: default;
			@include mobile {
				width: 80%;
			}
		}

		._underlined{
			position: relative;
			display: inline-block;

			&:before{
				content: '';
				position: absolute;
				bottom: 2px;
				display: block;
				width: 100%;
				height: 1px;

				@include tablet {
					bottom: -2px;
					height: 2px;
				}
			}

			&._blue:before{background-color: $blue;}
			&._yellow:before{background-color: $yellow;}
		}
	}

	.graph-wrap{
		@include mobile {
			position: absolute;
			margin: auto;
			bottom: 0;
			left: 0; right: 0;
			width: 188px;
			height: 170px;
		}

		@include tablet {
			height: 100%;
		}

		.inner-container{
			position: relative;
			margin: 0 auto;
			height: 100%;

			@include tablet {
				width: 488px;
				pointer-events: none;
			}

			&:hover{
				.graph-circle{
					opacity: .2;

					&:hover{
						opacity: 1;
					}
				}
			}
		}

		.graph-circle{
			pointer-events: auto;
			position: absolute;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			cursor: pointer;
			@include transitions-ease(.4s);

			@include tablet {
				width: 306px;
				height: 306px;
			}

			&.seb{
				margin: auto;
				top: 0;
				left: 0; right: 0;
				

				.h3{
					left: -16.66%;
					top: 20px;

					@include tablet {
						top: -30px;
						left: 16.66%;
					}
				}
			}

			&.cps{
				left: 0;
				top: 68px;
				@include tablet {
					top: auto;
					bottom: 0;
				}

				.h3{
					bottom: 20px;
					white-space: nowrap;
					left: -16.66%;

					@include tablet {
						bottom: 55px;
						left: -43%;
					}
				}
			}

			&.sc{
				right: 0;
				top: 68px;
				@include tablet {
					top: auto;
					bottom: 0;
				}

				.h3{
					bottom: 20px;
					left: -16.66%;

					@include tablet {
						bottom: 55px;
						left: auto;
						right: -50%;
					}
				}
			}

			._outline{
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				border: 1px solid $blue;
				opacity: 1;
				@include transitions-ease(.4s);

				@include tablet {
					border-width: 3px;
					opacity: .35;
				}
			}

			.h3{
				opacity: 0;
				pointer-events: none;
				display: block;
				position: absolute;
				@include transitions-ease(.4s);

				@include tablet {
					opacity: 1;
					pointer-events: auto;
				}

				._line{
					display: block;
				}
			}


			&:hover, &.active{
				z-index: 1;

				._outline{
					opacity: 1;
					border-color: $yellow;
					@include drawShadow(2px, 2px, 5px, 2px, #202020)
				}

				.h3{
					opacity: 1;
				}

				._line{
					text-shadow: 0px 0px 4px $bg-color;
				}
			}
		}
	}
}