#services-section{
	// border: 1px solid $yellow;
	
	background-color: $bg-color;

	.section-name{
		color: $yellow;
	}

	.title-wrap{
		text-align: center;
		
		margin-bottom: 60px;
		
		@include tablet {
			margin-bottom: 80px;
		}
		
		@include small-desktop {
			margin-bottom: 120px;
		}

		@include desktop {
			max-width: 970px;
			margin-left: auto;
			margin-right: auto;
		}

		.dw-highlight{
			&.underline{
				svg{
					bottom: -28%;
				}
			}
		}

		span[data-cascade]{
			white-space: pre;
		}
	}

	.service-container{
		position: relative;
		width: 100%;

		&:not(:last-child){
			margin-bottom: 24px;

			@include laptop {
				margin-bottom: 40px;
			}

			@include desktop {
				margin-bottom: 80px;
			}
		}

		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 1px;
			background-color: $body-text-color;
			@include scale(0,1);
			@include transform-origin(center, left);
			@include transitions-ease(1s);

			@include tablet {
				height: 3px;
			}
		}

		.toggle-wrap{
			position: relative;
			width: 100%;
			padding: 20px 0;
			cursor: pointer;
			// text-transform: uppercase;

			@include tablet {
				padding: 32px 0;
			}

			.h2{
				padding-right: 50px;

				@include tablet {
					padding-right: 80px;
				}

				@include laptop {
					padding-right: 16.667%;
				}
			}

			.toggle-info-button{
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				right: 0;
				@include transitions-ease(.4s);

				@include laptop {
					right: 5.55%;
				}
			}

			&:hover{
				.toggle-info-button{
					&:before{
						// @include scale(0.85, 1);
					}
					&:after{
						// @include scale-rotate(1, 0.85, 90deg);
					}
				}

				.circle-open, .circle-open-round, .circle-open-long{
					path{
						stroke-dashoffset: 0;
					}
				}
			}
		}

		.text-wrap{
			position: relative;
			width: 95%;
			overflow: hidden;
			@include transitions-ease(1s);

			@include tablet {
				// width: 80%;
				width: 90%;
			}

			@include small-laptop {
				// width: 72%;
			}

			@include small-desktop {
				width: 71.15%;
				min-width: 780px;
			}

			@include desktop {
				// max-height: 300px;
			}

			._description{
				margin-bottom: 30px;
				@include trans-ease-delay(1s, 0s);

				@include tablet {
					margin-bottom: 56px;
					width: 85%;
				}

				@include small-desktop {
					width: 100%;
				}
			}

			.profiles-container{
				padding-bottom: 30px;

				._note{
					margin-bottom: 5px;
					opacity: .5;
					@include trans-ease-delay(1s, 0s);
				}

				.profile-wrap{
					position: relative;
					display: inline-block;
					vertical-align: top;
					width: 100%;
					// padding-right: 8.3334%;

					._name{
						margin-bottom: 25px;
						@include trans-ease-delay(1s, 0s);
					}

					._methods{
						li{
							position: relative;
							display: inline-block;
							width: 100%;
							min-width: 148px;
							padding-right: 14px;
							margin-bottom: 8px;
							vertical-align: top;
							@include trans-ease-delay(1s, 0s);

							@include tablet {
								width: 50%;
							}

							span:before{
								content: '';
								position: relative;
								display: inline-block;
								width: 10px;
								height: 10px;
								border-radius: 50%;
								margin-right: 10px;
								top: 1px;

								@include tablet {
									// top: 1px;
									width: 14px;
									height: 14px;
								}
							}

							&.blue span:before{background-color: $blue;}
							&.yellow span:before{background-color: $yellow;}
							&.red span:before{background-color: $red;}
						}
					}
				}
			}
		}

		&[data-show=false]{
			.text-wrap{
				// height: 0;

				._description {
					opacity: 0;
				}

				._note{
					opacity: 0;
				}

				.profile-wrap {
					._name{
						opacity: 0;
					}

					._methods li{
						opacity: 0;
						-webkit-transform: rotate3d(1,0,0, 90deg) translate3d(0, 40px, 0);
						-moz-transform: rotate3d(1,0,0, 90deg) translate3d(0, 40px, 0);
						transform: rotate3d(1,0,0, 90deg) translate3d(0, 40px, 0);
					}
				}
			}
		}


		&[data-show=true]{
			&:after{
				@include scale(1,1);
			}

			.toggle-wrap{
				.toggle-info-button{
					&:after{@include scale-rotate(1, 0.01, 90deg);}
				}

				.circle-open, .circle-open-round, .circle-open-long{
					svg path{
						stroke-dashoffset: 0;
					}
				}

				&:hover{
					.toggle-info-button:before{
						@include scale(0.7, 1);
					}
				}
			}

			.text-wrap{
				._description {
					@include trans-ease-delay(1s, $cascade-interval*2);
					opacity: 1;
				}

				._note {
					@include trans-ease-delay(1s, $cascade-interval*3);
					opacity: 0.5;
				}

				.profile-wrap {
					._name{
						@include trans-ease-delay(1s, $cascade-interval*3);
						opacity: 1;
					}

					._methods li{
						opacity: 1;
						-webkit-transform: rotate3d(1,0,0, 0deg) translate3d(0,0,0);
						-moz-transform: rotate3d(1,0,0, 0deg) translate3d(0,0,0);
						transform: rotate3d(1,0,0, 0deg) translate3d(0,0,0);

						&:first-child{@include trans-ease-delay(1s, $cascade-interval*4);}
						&:nth-child(2){@include trans-ease-delay(1s, $cascade-interval*5);}
						&:nth-child(3){@include trans-ease-delay(1s, $cascade-interval*6);}
						&:nth-child(4){@include trans-ease-delay(1s, $cascade-interval*7);}
						&:nth-child(5){@include trans-ease-delay(1s, $cascade-interval*8);}
						&:nth-child(6){@include trans-ease-delay(1s, $cascade-interval*9);}
						&:nth-child(7){@include trans-ease-delay(1s, $cascade-interval*10);}
						&:nth-child(8){@include trans-ease-delay(1s, $cascade-interval*11);}
						&:nth-child(9){@include trans-ease-delay(1s, $cascade-interval*12);}
						&:nth-child(10){@include trans-ease-delay(1s, $cascade-interval*13);}
					}
				}
			}
		}
	}
}