#services-section{
	border: 1px solid $yellow;
	
	background-color: $bg-color;

	.section-name{
		color: $yellow;
	}

	.title-wrap{
		text-align: center;
		
		margin-bottom: 60px;
		
		@include tablet {
			margin-bottom: 80px;
		}
		
		@include small-desktop {
			margin-bottom: 120px;
		}

		.dw-highlight{
			&.underline{
				svg{
					bottom: -28%;
				}
			}
		}
	}

	.service-container{
		position: relative;
		width: 100%;

		&:not(:last-child){
			@include tablet {
				margin-bottom: 20px;
			}
		}

		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 1px;
			background-color: $body-text-color;
			@include scale(0,1);
			@include transform-origin(center, left);
			@include transitions-ease(1s);

			@include tablet {
				height: 3px;
			}
		}

		.toggle-wrap{
			position: relative;
			width: 100%;
			padding: 20px 0;
			cursor: pointer;

			@include tablet {
				padding: 32px 0;
			}

			.h2{
				padding-right: 50px;

				@include tablet {
					padding-right: 80px;
				}

				@include laptop {
					padding-right: 16.667%;
				}
			}

			.toggle-info-button{
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				right: 0;
				@include transitions-ease(.4s);

				@include laptop {
					right: 5.55%;
				}
			}

			&:hover{
				.toggle-info-button{
					&:before{
						@include transitions-ease(.4s);
						@include rotate(90deg);
					}
					&:after{
						@include transitions-ease(.6s);
						@include rotate(180deg);
					}
				}

				.circle-open, .circle-open-round, .circle-open-long{
					path{
						stroke-dashoffset: 0;
					}
				}
			}
		}

		.text-wrap{
			position: relative;
			width: 95%;
			overflow: hidden;
			@include transitions-ease(1s);

			@include tablet {
				width: 80%;
			}

			@include small-laptop {
				width: 72%;
			}

			@include small-desktop {
				width: 71.15%;
				min-width: 780px;
			}

			@include desktop {
				max-height: 300px;
			}

			._description{
				margin-bottom: 30px;

				@include tablet {
					margin-bottom: 56px;
				}
			}

			.profiles-container{
				padding-bottom: 30px;

				._note{
					margin-bottom: 5px;
					opacity: .5;
				}

				.profile-wrap{
					position: relative;
					display: inline-block;
					vertical-align: top;
					width: 50%;
					padding-right: 8.3334%;

					._name{
						margin-bottom: 25px;
					}

					._methods{
						li{
							position: relative;
							display: inline-block;
							width: 50%;
							min-width: 148px;

							&:before{
								content: '';
								position: relative;
								display: inline-block;
								width: 14px;
								height: 14px;
								border-radius: 50%;
								margin-right: 10px;
								top: 3px;

								@include tablet {
									top: 1px;
								}
							}

							&.blue:before{background-color: $blue;}
							&.yellow:before{background-color: $yellow;}
							&.red:before{background-color: $red;}
						}
					}
				}
			}
		}

		&[data-show=false]{
			.text-wrap{
				max-height: 0px;
			}
		}


		&[data-show=true]{
			&:after{
				@include scale(1,1);
			}

			.toggle-wrap{
				.toggle-info-button{
					// &:before{@include transitions-ease(.4s);}
					&:after{@include rotate(360deg);}
				}

				.circle-open{
					svg path{
						stroke-dashoffset: 0;
					}
				}

				&:hover{
					.toggle-info-button{
						@include scale(0.7, 1);

						&:before{@include rotate(0deg);}
					}
				}
			}
		}
	}
}