doctype html
html(class='no-js' lang="es-MX")
	head
		//- Analytics
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-Y', 'auto');
			ga('send', 'pageview');

		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')

		//- Preload
		link(rel="preload" href="fonts/FreightNeo_Book.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="fonts/FreightNeo_Medium.woff2" as="font" type="font/woff2" crossorigin)

		block title
			title LifeStrategics | Understand · Decide · Take Action

		//- PWA
		link(rel="manifest" href="manifest.json")

		//- metatags
		block google_metatags
			meta(name='description', content='La mejor estrategia es la que responde a las necesidades de tu proyecto o negocio. Nos interesa conocer lo que deseas lograr para diseñar contigo la solución a la medida de tus objetivos.')

		//- Share graphs for social media
		block og_metatags
			meta(property="og:url" 			content="https://demo6.lifestrategics.com/")
			meta(property="og:title" 		content="LifeStrategics | Understand · Decide · Take Action")
			meta(property="og:description" 	content="La mejor estrategia es la que responde a las necesidades de tu proyecto o negocio. Nos interesa conocer lo que deseas lograr para diseñar contigo la solución a la medida de tus objetivos.")
			meta(property="og:image" 		content="https://demo6.lifestrategics.com/share_graph.jpg")

		//- Share graphs that doesn't change
		meta(property="og:type" 		content="website")
		meta(name="twitter:card", content="summary")

		//- Favicon
		link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
		link(rel="mask-icon" href="safari-pinned-tab.svg" color="#262627")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="theme-color" content="#262627")

		//- PWA additional setup
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="#262627")
		meta(name="apple-mobile-web-app-title" content="LifeStrategics | Acerca de")
		meta(name="msapplication-TileImage" content="icons/ls-icon-144.png")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

	body
		//- .tester

		//- testing grid
		//- .ls-container.fortest.view-padding
		//- .ls-container.fortest
			.ls-row
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner



		//- Mixins
		include ../_modules/_svg-mixins.jade
		include ../_modules/_nav-cols-mixin.jade
		include ../_modules/_header-nav-mixin.jade
		include ../_modules/_mobile-menu-mixin.jade
		include ../_modules/_footer-mixin.jade

		
		//- Preloader screen
		include ../_modules/preloader.jade


		//- mobile menu window
		block mobile-menu
			+mobile-menu

		//- header
		block header-nav
			+header-nav

		//- content
		#main-wrapper
			.js-scroll
				block content

			.footer-fixed-holder
				block footer
					+footer

		//- scripts
		script(src='js/app.js')



