doctype html
html(class='no-js' lang="es-MX")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')

		block title
			title LifeStrategics | Understand · Decide · Take Action

		//- metatags
		block google_metatags
			meta(name='description', content='Page_description')

		//- Share graphs for social media
		block og_metatags
			meta(property="og:url" 			content="PLACE_YOUR_URL")
			meta(property="og:title" 		content="PLACE_YOUR_TITLE")
			meta(property="og:description" 	content="PLACE_YOUR_DESCRIPTION")
			meta(property="og:image" 		content="PLACE_YOUR_IMAGE_URL")

		//- Share graphs that doesn't change
		meta(property="og:type" 		content="website")
		meta(name="twitter:card", content="summary")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

	body
		//- .tester

		//- testing grid
		//- .ls-container.fortest.view-padding
		//- .ls-container.fortest
			.ls-row
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner
				.ls-col-1
					.inner



		//- Mixins
		include ../_modules/_svg-mixins.jade
		include ../_modules/_nav-cols-mixin.jade
		include ../_modules/_header-nav-mixin.jade
		include ../_modules/_mobile-menu-mixin.jade
		include ../_modules/_footer-mixin.jade

		
		//- Preloader screen
		include ../_modules/preloader.jade


		//- mobile menu window
		block mobile-menu
			+mobile-menu

		//- header
		block header-nav
			+header-nav

		//- content
		#main-wrapper
			.js-scroll
				block content

			.footer-fixed-holder
				block footer
					+footer

		//- scripts
		script(src='js/app.js')



