extends _templates/layout.jade

block mobile-menu
	include _modules/mobile-menu-landing.jade

block header-nav
	+header-nav('home')


block content
	include _modules/hero-section.jade
	include _modules/ourfocus-section.jade
	include _modules/services-section.jade
	include _modules/how-section.jade
	include _modules/clients-section.jade

	include _modules/blog-section.jade
	include _modules/events-section.jade
	include _modules/contact-section.jade
	
	.only-mobile.not-scroll-js
		include _modules/footer-landing.jade


block footer
	include _modules/footer-landing.jade