extends _templates/layout.jade

block mobile-menu
	//- include _modules/mobile-menu-landing.jade
	+mobile-menu('landing')

block header-nav
	+header-nav('home')


block content
	include _modules/hero-section.jade
	include _modules/ourfocus-section.jade
	include _modules/services-section.jade
	include _modules/how-section.jade
	include _modules/clients-section.jade

	include _modules/blog-section.jade
	include _modules/events-section.jade
	include _modules/contact-section.jade
	
	.only-mobile.not-scroll-js
		+footer('landing')

	.cms-svgs(style="display: none;")
		+hl-circle-open("", "cms-circle-open")
		+hl-circle-open-round("", "cms-circle-open-round")
		+hl-circle-open-long("", "cms-circle-open-long")
		+arrow-right("", "cms-arrow-right")


block footer
	+footer('landing')